<div>
  <div class="card login-form">
    <h2>Login</h2>
    <hr style="width:10%; margin: 17px auto 50px;border-color: black">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <input class="serious-input" placeholder="Email" value="" name="user[email]" id="user_email" type="email">
        </div>

        <div class="field">
          <input class="serious-input" placeholder="Password" autocomplete="off" name="user[password]" id="user_password" type="password">
        </div>

        <div class="field hidden">
          <input name="user[remember_me]" value="0" type="hidden"><input checked value="1" name="user[remember_me]" id="user_remember_me" type="checkbox">
          <label for="user_remember_me">Remember me</label>
        </div>

        <div class="actions">
          <%= f.submit "Sign in", class: 'btn btn-sp submit-btn-form' %>
        </div>
    <% end %>

    <div style="margin: 10px" class="link-wrap">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>