<h1>Logos</h1>

<script>

    document.getElementById("dropping").className += ' dropzone';
    var myDropzone = new Dropzone("div#dropping", {
        url: 'add/gallery/logo',
        autoProcessQueue: true,
        uploadMultiple: false,
        parallelUploads: 100,
        maxFiles: 100,
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        method: 'put',
        remote: true,

        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;

            this.on("sending", function (file, xhr, formData) {
                formData.append("id", $("#gallery_id").val());
                formData.append("name", $("#name_division").val());
            });
            this.on("success", function (file, xhr) {
                this.removeAllFiles();
                loadLogos();
            });

            // First change the button to actually tell Dropzone to process the queue.
            this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue();
            });

            // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
            // of the sending event because uploadMultiple is set to true.
            this.on("sendingmultiple", function () {
                // Gets triggered when the form is actually being sent.
                // Hide the success button or the complete form.
            });
            this.on("successmultiple", function (files, response) {
                // Gets triggered when the files have successfully been sent.
                // Redirect user or notify of success.
            });
            this.on("errormultiple", function (files, response) {
                // Gets triggered when there was an error sending the files.
                // Maybe show form again, and notify user of error
            });
        }
    });

    function loadLogos() {
        console.log('hola');
        $.ajax({
            url: "/customs/load_images/logo/" + $("#gallery_id").val(),
            type: "GET",
            data: {
            },
            dataType: "html",
            success: function (data) {
                console.log(data);
                $("#image_container_present").html(data);
            },
            error: function () {
                $("#image_container_present").html('No logos to display');
            }

        });
    }

</script>

<div class="row">
  <input type="text" id="name_division">
  <select onchange="loadLogos()" onload="loadLogos()" id="gallery_id">
    <option value="">New group</option>
    <% LogoHelper.get_galleries.each do |gallery| %>
        <option value="<%= gallery.id %>"><%= gallery.name %></option>
    <% end %>
  </select>
</div>

<div id="dropping" class="logos">
</div>

<div id="image_container_present" class="logos">

</div>
