<body style="background-color: #dedede">
<div class="main">

  <div style="margin: 20px; padding: 20px; overflow: hidden" class="card content-part-10">

    <div style="overflow: hidden" class="content-part-10">

      <div style="padding: 0 10px;margin: 0" class="content-part-7">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Discount rate</span>
          <input id="rate" type="number" step="any" class="form-control" aria-describedby="basic-addon1">
          <span class="input-group-addon">%</span>
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Discount code</span>
          <input id="code" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Usage limit</span>
          <input id="usage" class="form-control" aria-describedby="basic-addon1">
          <span class="input-group-addon"><i class="fa fa-arrow-left" aria-hidden="true"></i> Less than</span>
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Until</span>
          <input id="until" type="datetime-local" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Used</span>
          <select id="used" class="form-control">
            <option value="not">Not selected</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <button style="margin-bottom: 5px; width: 100%" onclick="load_data()" class="btn btn-success">SEARCH</button>
      </div>

      <div style="padding: 0 10px;margin: 0" class="content-part-3">
        <button onclick="window.location.href = '/promotion_codes/new'" style="margin-bottom: 5px; width: 100%" class="btn btn-success">ADD</button>
        <button onclick="(selected !== null) ? (window.location.href = '/promotion_codes/edit?id='+selected.toString()) : null" style="margin-bottom: 5px; width: 100%" class="btn btn-warning">MODIFY</button>
        <button onclick="(selected !== null) ? (destroy()) : null" style="margin-bottom: 5px; width: 100%" class="btn btn-danger"disabled >DELETE</button>
      </div>

    </div>

    <hr>

    <table border="1" style="width: 100%">
      <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Rate</th>
        <th>CODE</th>
        <th>Limit</th>
        <th>Until</th>
        <th>Used / Disabled</th>
      </tr>
      </thead>
      <tbody id="data-table">

      </tbody>
    </table>

  </div>

</div>
</body>

<script>

    var selected = null;

    function select_row(id) {
        $('input[name="radio_btn"]').each(function () {
            alert(this.attr('id'))
        });
    }

    function destroy() {
        $.ajax({
            url: '/promotion_codes?id=' + selected.toString(),
            type: 'delete',
            dataType: 'json',
            data: {},
            success: function (data) {
                window.location.href = '/admin/promos';
            },
            error: function (data) {

            }
        });
    }

    function load_data() {
        var data_table = document.getElementById('data-table');
        var text = '';
        $.ajax({
            url: '/promotion_codes',
            type: 'get',
            dataType: 'json',
            data: {
                rate: document.getElementById('rate').value,
                code: document.getElementById('code').value,
                limit: document.getElementById('usage').value,
                time: document.getElementById('until').value,
                used: $('#used').find(":selected").val()
            },
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    text = text +
                        '<tr>' +
                        '<td><input id="' + data[i]['id'] + '" name="radio_btn" type="radio" onclick="selected = \'' + data[i]['id'] + '\'"></td>' +
                        '<td>' + data[i]['id'] + '</td>' +
                        '<td>' + data[i]['rate'] + '</td>' +
                        '<td>' + data[i]['code'] + '</td>' +
                        '<td>' + data[i]['limitUsage'] + '</td>' +
                        '<td>' + data[i]['timeAvailable'].split('T').join(' ') + '</td>' +
                        '<td>' + ((data[i]['used'] === 0) ? 'No' : 'Yes') + '</td>' +
                        '</tr>';
                }
                data_table.innerHTML = text;
            },
            error: function (data) {

            }
        });
    }

    load_data();

</script>