<div id="search-box-drop" style="width: 70%; top: 0px; margin: auto; left: 0; right: 0; z-index: 1; position: fixed;" class="input-group desktopnot">
  <input id="search-bot" name="search" style="height: 40px; border-color: #cb929c;" type="text" class="form-control" placeholder="Search..." value="">
  <span class="input-group-btn">
          <button onclick="location.href = '/catalog?search=' + this.parentElement.parentElement.getElementsByTagName('input')[0].value;" class="btn btn-default btn-sp text_light_20" style="border: none; color: white;" type="button">GO!</button>
        </span>
</div>