<div class="desktopnot" style="margin-top: 30px"></div>
<div class="mobilenot" style="margin-top: 80px"></div>
<div style="overflow: hidden; margin: 0 7%;">
  <div id="container_lts" class="content-part field-data">

    <script>

      bag = true;

      function get_bag_items() {
          var taxes = [];
          var prices = [];
          var stages = [];

          var stageWidth = 500;
          var stageHeight = 500;

          var container_lts = document.getElementById('container_lts');

          $.ajax({
              url: '/bag_items',
              type: 'GET',
              dataType: 'json',
              data: {},
              success: function (data) {


                  taxes = data['tax_array'];
                  prices = data['cost_array'];

                  create_entry(0, data['products'].length);

                  function create_entry(i, lim) {
                      if (i < lim) {
                          var product = data['products'][i];

                          var pre = '<div class="item-checkout" style="padding-bottom: 20px; overflow: hidden; border-bottom: thin black solid">\n' +
                              '        <div style="float: left; width: 33%; position: relative">\n' +
                              '          <div class="cart_item" id="cart' + product['id'] + '" style="width: 100%; height: 100%; margin-left: auto; margin-right: auto;"></div>\n' +
                              '        </div>\n' +
                              '          <div style="float: right; width: 63%; position: relative">\n' +
                              '            <h4 style="width: 80%">' + product['data']['title'] + '</h4>\n' +
                              '            <a onclick="delete_element(\'' + product['id'] + '\')" style="width: 20%; position: absolute; color: #2E2F30; cursor: pointer; top: 5px; right: 5px"><i class="fa fa-trash" aria-hidden="true"></i></a>\n' +
                              '            <div style="float: left; width: 50%">\n' +
                              '              <h6>Size: ' + product['size']['title'] + '</h6>\n' +
                              '              <h6>Customized: ' + ((product['has_emblem'] || product['has_logo']) ? 'YES' : 'NO') + '\n' +
                              '              <h6>Color: ' + product['color']['title'] + '</h6>\n' +
                              '            </div>\n' +
                              '            <div style="float: left; width: 50%; text-align: center">\n' +
                              '              <h3 style="font-size: 20px;">Qty: ' + product['qty'] + '</h3>\n' +
                              '              <h4>' + product['price_sgl'] + '</h4>\n' +
                              '            </div>\n' +
                              '            <button type="button" style="width: 49%; margin-top: 10px; float: right" class="btn-sp btn" onclick="edit_catalog(\'' + product['id'] + '\', true, true)">EDIT\n' +
                              '            </button>\n' +
                              '          </div>\n' +
                              '      </div>';


                          var div = document.createElement('div');
                          div.innerHTML = pre;

                          container_lts.appendChild(div);

                          var id = 'cart' + product['id'];
                          var container = $('#' + id);
                          container.height(container.width());

                          var stage = new Konva.Stage({
                              container: id,
                              width: stageWidth,
                              height: stageHeight,
                              preventDefault: false
                          });
                          var layer = new Konva.Layer();
                          stage.add(layer);
                          stages.push(stage);

                          var baseImg = new Konva.Image({
                              width: stageWidth,
                              height: stageHeight,
                              draggable: false,
                              preventDefault: false
                          });
                          layer.add(baseImg);

                          var search_logo = true;

                          var imageObj1 = new Image();
                          imageObj1.onload = function () {
                              baseImg.image(imageObj1);

                              if (search_logo) {
                                  var baseLogo = new Konva.Image({
                                      x: 0,
                                      y: 0,
                                      width: container.width(),
                                      height: container.height(),
                                      draggable: false,
                                      preventDefault: false
                                  });
                                  layer.add(baseLogo);

                                  var logoBase = new Image();
                                  logoBase.onload = function () {
                                      baseLogo.image(logoBase);
                                      baseLogo.setWidth(this.width);
                                      baseLogo.setHeight(this.height);

                                      i += 1;
                                      create_entry(i, lim);
                                      layer.draw();
                                  };

                                  $.ajax({
                                      url: '/get_cart_item?product_cart_id=' + product['id'],
                                      type: 'GET',
                                      dataType: 'json',
                                      data: {},
                                      success: function (data) {

                                          var logo = data.logos[0];
                                          if (logo) {
                                              var image = getImage(data.pictures, logo.product_image_id);
                                              if (image) {
                                                  search_logo = false;
                                                  imageObj1.src = image.url;
                                                  logoBase.src = logo.logo_url;
                                                  baseLogo.setX(logo.x);
                                                  baseLogo.setY(logo.y);
                                                  baseLogo.scale({
                                                      x: logo.multiplexer,
                                                      y: logo.multiplexer
                                                  });

                                              }
                                          } else {
                                              i += 1;
                                              create_entry(i, lim);
                                              layer.draw();
                                          }
                                      },
                                      error: function (data) {

                                      }
                                  });
                              }
                          };

                          $.ajax({
                              url: '/catalog/product/color/main_image?color_id=' + product['color']['id'],
                              type: 'GET',
                              dataType: 'json',
                              data: {},
                              success: function (data) {
                                  imageObj1.src = data.picture;
                              },
                              error: function (data) {

                              }
                          });
                      }
                      else {

                          var buttons = document.createElement('div');
                          buttons.innerHTML = '<button class="styling_btn text_light" style="width: 48%; font-size: 10pt; min-width: auto; float: left; margin-bottom: 20px; color: black; border-color: black" onclick="clear_bag();">CLEAR\n' +
                              '                        BAG\n' +
                              '                        </button>\n' +
                              '                        <button class="styling_btn text_light" style="width: 48%; font-size: 10pt; min-width: auto; float: right; margin-bottom: 20px; color: black; border-color: black" onclick="location.href = \'/\'">CONTINUE\n' +
                              '                        SHOPPING\n' +
                              '                        </button>';

                          container_lts.appendChild(buttons);

                          function fitStageIntoParentContainer_we() {
                              $('.cart_item').each(function (index) {

                                  $(this).height($(this).width());

                                  // now we need to fit stage into parent
                                  var containerWidth = $(this).width();
                                  // to do this we need to scale the stage
                                  var scale = containerWidth / stageWidth;
                                  stages[index].scale({x: scale, y: scale});
                                  stages[index].draw();
                              });
                          }

                          fitStageIntoParentContainer_we();
                          window.addEventListener('resize', fitStageIntoParentContainer_we);

                          var cost = 0;
                          for (var t = 0; t < prices.length; t++) {
                              cost += parseFloat(prices[t]);
                          }

                          var tax = 0;
                          for (var t = 0; t < taxes.length; t++) {
                              tax += parseFloat(taxes[t]);
                          }

                          document.getElementById('sub_total').innerText = "$" + cost.toFixed(2);
                          document.getElementById('estimated_tax').innerText = "$" + tax.toFixed(2);
                          document.getElementById('estimated_total').innerText = "$" + (cost + tax).toFixed(2);
                      }
                  }
              },
              error: function (data) {

              }
          });
      }

    </script>

  </div>

  <div style="position: relative; border-width: 1px" class="content-part preview-cart content-part-10">

    <div id="loading" class="hidden">

      <div class="loader">

      </div>

    </div>

    <div style="padding: 10px">

      <div style="overflow: hidden">
        <h3 class="text_light" style="float: left; margin: 10px 10px 15px;">ORDER DETAILS</h3>
      </div>
      <div style="text-align: center; width: 100%">
        <hr style="border-color: black; margin: 0 10px;">
      </div>
      <div style="overflow: hidden; margin: 10px">
        <h4 class="t-right text_light">Subtotal</h4>
        <h4 id="sub_total" class="s-left text_light">-</h4>
      </div>

      <div style="overflow: hidden; margin: 10px">
        <h4 class="t-right text_light">Shipping</h4><h4 class="s-left text_light">(Free US)</h4>
      </div>

      <div style="overflow: hidden; margin: 10px">
        <h4 class="t-right text_light">Estimated Tax</h4>
        <h4 id="estimated_tax" class="s-left text_light">-</h4>
      </div>

      <div style="overflow: hidden; margin: 40px 10px 10px;">
        <h4 class="t-right text_light">Estimated total</h4>
        <h3 id="estimated_total" class="s-left text_light">-</h3>
      </div>

      <div style="text-align: center; width: 100%">
        <hr style="border-color: black; margin: 0 10px;">
      </div>

      <button class="btn styling_btn text_light" style="margin-bottom: 20px; font-size: 20px; color: black; border-color: black" onclick="location.href = '/checkout'">CHECKOUT</button>

    </div>
  </div>
</div>