<div id="items-container" style="overflow: hidden; margin-bottom: 30px">

  <div id="filters">

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">
    <!-- Large button group -->
    <div class="btn-group filter-element">
      <button id="button_for_drop" style="font-weight: bold" class="btn btn-default btn-enlarge btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Style
        <span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul id="style-list-filter" class="dropdown-menu drop-enlarge">

      </ul>
    </div>

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">

    <!-- Large button group -->
    <div class="btn-group filter-element">
      <button style="font-weight: bold" class="btn btn-default btn-enlarge btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Colors
        <span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul id="color-list-filter" class="dropdown-menu drop-enlarge">
        <li><h5>Colors</h5></li>
      </ul>
    </div>

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">

    <!-- Large button group -->
    <div class="btn-group filter-element">
      <button style="font-weight: bold" class="btn btn-default btn-enlarge btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Material
        <span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul id="material-list-filter" class="dropdown-menu drop-enlarge">
        <li><h5>Material</h5></li>
      </ul>
    </div>

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">

    <div class="filter-element mobilenot"><h5 id="product_counter" style="font-weight: bold">0 products found</h5></div>
  </div>

  <div id="items" style="min-height: 370px">

  </div>

</div>

<script>

    function load_items() {
        $.ajax({
            url: '/catalog/items?category=' + '<%= @parameters['view'] %>&style=<%= @parameters['style'] %>',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data);
                var html_items = '';
                document.getElementById('product_counter').innerHTML = data.length + ' products found';
                for (var id in data) {
                    var item = data[id];
                    html_items = html_items + '<div class="catalog-item" id="item' + item.id + '" onclick="open_quick(\'' + item.id + '\', 1)">'
                        + '<img class="img-con-item" style="margin-bottom: 10px" src="' + item.product_image_id + '">'
                        + '<h5 class="text-uppercase text_light" style="font-size: 16px; margin-bottom: 10px">' + item.title + '</h5>'
                        + '<h5 style="font-size: 16px; color: #ba97a6; font-family: \'Source Sans Pro\', sans-serif; font-weight: 600">$' + parseFloat(Math.round(item.price * 100) / 100).toFixed(2) + '</h5>'
                        + '<button onclick="open_quick(\'' + item.id + '\', 1)" class="btn btn-sp btn-bottom_fixed" style="width: 100%">Quick Shop</button>'
                        + '</div>';
                    document.getElementById('items').innerHTML = html_items;
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    load_items();

</script>

<!-- The Modal -->
<div id="quick_view" class="modal_quick modal_base">

  <!-- Modal content -->
  <div id="modal-content-center" class="modal-content_quick modal-content_base" style="overflow: hidden; padding: 0;">
    <div id="general_p_content" class="g-wrapper" style="position: relative">
      <span id="actor" style="cursor: pointer; color: #ba97a6; z-index: 9000; position: absolute; left: 10px"><i class="fa fa-times" aria-hidden="true"></i></span>
      <div id="product_display" class="wrapper-side">
        <div class="image-container-quick" id="image-container">
        </div>
        <div style="min-height: 80px" class="images-container-quick" id="images-holder">
          <div style="position: absolute; width: 100%" id="preview_image_cr" class="jcarousel-wrapper">

            <button id="controller-jcarousel-preview-l" style="top: 25px; border: none; left: 0; float: left; position: relative; width: 10%" href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <div style="float: left; width: 80%" id="preview_image_cr_carousel" class="jcarousel" data-jcarousel="true">
              <ul id="preview_image_container" style="left: 0; top: 0;">

              </ul>
            </div>
            <button id="controller-jcarousel-preview-r" style="top: 25px; border: none; right: 0; float: right; position: relative; width: 10%" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>

          </div>
        </div>
      </div>
      <div id="layers" class="wrapper-side">

        <div style="display: none" id="view_1">
          <div class="wrap">
            <h5 id="product_title" class="text-uppercase text_light_20"></h5>
            <h5 id="product_price" class="text_light_pink"></h5>
            <div id="product_description" class="wrap light-paragraph" style="padding-top: 10px">
              <span id="first_30"></span><span id="dots">...</span><span class="complete"></span>
              <div style="text-align: end">
                <span id="more-toggle" class="text_light_pink">Read more</span>
              </div>
            </div>
            <hr style="margin-bottom: 0">
            <div style="margin-bottom: 10px">
              <div id="icon-show" class="hidden">
                <h5 class="text_light"><i class="fa fa-angle-down" aria-hidden="true"></i> SIZE</h5></div>
              <div id="icon-hide"><h5 class="text_light"><i class="fa fa-angle-up" aria-hidden="true"></i> SIZE</h5>
              </div>
            </div>

            <div style="height: 40px" id="icon_loader" class="jcarousel-wrapper">
              <button id="controller-jcarousel-preview-l" style="top: 0; border: none; left: 0; float: left; position: relative; width: 10%" href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </button>
              <div style="float: left; width: 80%" id="preview_size_cr_carousel" class="jcarousel" data-jcarousel="true">
                <ul id="container-sizes" style="left: 0; top: 0;">
                </ul>
              </div>
              <button id="controller-jcarousel-preview-r" style="top: 0; border: none; right: 0; float: right; position: relative; width: 10%" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </div>

            <hr style="margin-bottom: 0">
            <div style="margin-bottom: 10px">
              <div id="icon-show-logo" class="hidden">
                <h5 class="text_light"><i class="fa fa-angle-down" aria-hidden="true"></i> CUSTOMIZED</h5></div>
              <div id="icon-hide-logo">
                <h5 class="text_light"><i class="fa fa-angle-up" aria-hidden="true"></i> CUSTOMIZED</h5></div>
            </div>

            <div style="height: 80px" id="icon_loader_logo" class="jcarousel-wrapper">
              <button id="controller-jcarousel-preview-l" style="top: 25px; border: none; left: 0; float: left; position: relative; width: 10%" href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </button>
              <div style="float: left; width: 80%" id="preview_preset_cr_carousel" class="jcarousel" data-jcarousel="true">
                <ul id="container-presets" style="left: 0; top: 0;">
                </ul>
              </div>
              <button id="controller-jcarousel-preview-r" style="top: 25px; border: none; right: 0; float: right; position: relative; width: 10%" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </div>

            <div>
              <button style="width: 100%; margin-top: 10px" class="btn btn-cust" onclick="load_view_2(product.data)">CUSTOMIZE
                IT
              </button>
              <button style="width: 100%; margin-top: 10px" class="btn btn-sp" onclick="addToCart()">ADD TO CART
              </button>
            </div>
          </div>
        </div>

        <div style="display: none" id="view_2">
          <div class="wrap">
            <h6 style="font-weight: bold">Select color(s):</h6>
            <div id="checkboxes-color">
            </div>
            <div id="controllers" style="float: left; width: 100%">
              <div style="margin-left: auto; margin-right: auto; text-align: center">
                <button id="minus-btn" class="direction border-bg-sty resizable">
                  <div class="fa fa-minus"></div>
                </button>
                <button id="plus-btn" class="direction border-bg-sty resizable">
                  <div class="fa fa-plus"></div>
                </button>
                <button id="left-btn" class="direction border-bg-sty resizable">
                  <div class="fa fa-chevron-left"></div>
                </button>
                <button id="right-btn" class="direction border-bg-sty resizable">
                  <div class="fa fa-chevron-right"></div>
                </button>
                <button id="down-btn" class="direction border-bg-sty resizable">
                  <div class="fa fa-chevron-down"></div>
                </button>
                <button id="up-btn" class="direction border-bg-sty resizable">
                  <div class="fa fa-chevron-up"></div>
                </button>
              </div>
            </div>
            <div style="width: 100%; text-align: center">
              <button id="share" class="styling_btn btn">SHARE
              </button>
            </div>
            <hr class="pro">
            <div id="icon-show-logos" class="hidden">
              <h6><i class="fa fa-angle-down" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>
            <div id="icon-hide-logos"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>

            <div id="icon_loader-logos" class="jcarousel-wrapper row">
              <button id="controller-jcarousel-preview-l" style="top: 25px; border: none; left: 0; float: left; position: relative; width: 10%" href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </button>
              <div style="float: left; width: 80%; height: 70px" id="preview_preset_cr_carousel" class="jcarousel" data-jcarousel="true">
                <ul id="container-logos" style="left: 0; top: 0;">
                </ul>
              </div>
              <button id="controller-jcarousel-preview-r" style="top: 25px; border: none; right: 0; float: right; position: relative; width: 10%" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </div>

            <div id="selection-btn-s">
              <button onclick="start_over()" id="restart-btn" type="button" style="width: 100%; margin-top: 10px" class="btn btn-default">
                <span class="cell-btn">START OVER</span></button>
              <button type="button" style="width: 100%; margin-top: 10px" class="btn btn-sp cell-btn" onclick="send_variations()">
                DONE
              </button>
            </div>

          </div>
        </div>

        <div style="display: none" id="view_3"></div>

      </div>
    </div>
  </div>

  <div id="modal-content-quick-m" class="modal-content-quick-m" style="overflow: hidden; padding: 0; display: none">
    <i id="quick-view-close-m" style="cursor: pointer; color: #ba97a6; z-index: 9000; position: absolute; top: 10px; left: 10px" class="fa fa-times" aria-hidden="true"></i>
    <div id="general_p_content" class="g-wrapper" style="margin-top: 0; padding-top: 0">
      Would you like to edit the placement of our emblem?
      <label for="product-id-p1"></label><input type="text" class="hidden" id="product-id-p1" value="">

      <button style="min-width: 0; width: 85%; margin: 5px 0 0 0" onclick="add_emblem(true)" class="styling_btn btn">EDIT</button>
      <button style="min-width: 0; width: 85%; margin: 5px 0 0 0" onclick="load_view_1(product.data)" class="styling_btn btn">ADD
        TO CART
      </button>
    </div>

  </div>

</div>

<script>

    //reload jcarousel
    (function (window, $, undefined) {
        var plugins = ['jcarousel', 'jcarouselAutoscroll', 'jcarouselControl', 'jcarouselPagination'];
        for (var i = 0; i < plugins.length; i++) {
            var plugin = plugins[i];
            var reload_plugin = 'reload' + plugin.charAt(0).toUpperCase() + plugin.slice(1);
            $.fn[reload_plugin] = (function (plugin) {
                return function () {
                    return this.each(function () {
                        if (!$(this).data(plugin)) {
                            console.log('Element is not an instance of ' + plugin);
                            return false;
                        }
                        var _options = $(this).data(plugin)._options;
                        $(this).data(plugin, {}).off()[plugin](_options);
                    });
                };
            })(plugin);
        }
    })(this, jQuery);

    var default_modal = document.getElementById('modal-content-center').cloneNode(true);
    var view_1 = document.getElementById('view_1').cloneNode(true);
    var view_2 = document.getElementById('view_2').cloneNode(true);
    var view_3 = document.getElementById('view_3').cloneNode(true);

    // Get the modal
    var modal_quick = document.getElementById('quick_view');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modal_quick) {
            product.remove();
            modal_quick.style.display = "none";
            $("body").removeClass("modal-open");
            $('body').css('overflow', 'auto');
            $('body').css('position', 'relative');
        }

        if (event.target === modal) {
            modal.style.display = "none";
        }
    };

    function close_modal() {
        product.remove();
        modal_quick.style.display = "none";
        $("body").removeClass("modal-open");
        $('body').css('overflow', 'auto');
        $('body').css('position', 'relative');
    }

    //Main product
    var product = {
        data: null,
        product_id: null,
        color_id: null,
        logo_id: null,
        logo_x: null,
        logo_y: null,
        multiplexer: 1,
        emblem_id: null,
        size_id: null,
        remove: function () {
            this.data = null;
            this.product_id = null;
            this.color_id = null;
            this.logo_id = null;
            this.logo_x = null;
            this.logo_y = null;
            this.multiplexer = 1;
            this.emblem_id = null;
            this.size_id = null;
        }
    };

    //MAIN LAYER
    var LAYER = null;

    //MAIN STAGE
    var STAGE = null;

    function fitStageIntoParentContainer() {
        var container = document.querySelector('#image-container');
        // now we need to fit stage into parent
        var containerWidth = container.offsetWidth;
        var containerHeight = container.offsetHeight;
        var cur = containerHeight;
        if (containerWidth < containerHeight) {
            cur = containerWidth;
        }
        // to do this we need to scale the stage
        var scale = cur / 500;
        STAGE.width(500 * scale);
        STAGE.height(500 * scale);
        STAGE.scale({x: scale, y: scale});
        STAGE.draw();
    }

    // Get the modal
    var modal_quick_m = document.getElementById('modal-content-quick-m');
    var modal_base = document.getElementById('modal-content-center');

    // Get the <span> element that closes the modal
    var span_quick_m = document.getElementById('quick-view-close-m');

    // When the user clicks on <span> (x), close the modal
    span_quick_m.onclick = function () {
        remove_modal_m()
    };

    function remove_modal_m() {
        modal_quick_m.style.display = "none";
        modal_base.className = 'modal-content_quick modal-content_base';
    }

    function send_variations() {
        modal_base.className += ' blur';
        modal_quick_m.style.display = "block";
    }

    var TEMP_01 = null;
    var TEMP_02 = null;

    function remove_element() {
        if (TEMP_01 !== null) {
            TEMP_01.destroy();
            TEMP_02.destroy();
            LAYER.draw();
        }
    }

    function change_element(image) {
        if (LAYER !== null) {

            var tempImg = new Konva.Image({
                x: 50,
                y: 50,
                width: STAGE.width(),
                height: STAGE.height(),
                draggable: false
            });

            var rect = new Konva.Rect({
                x: 30,
                y: 30,
                width: STAGE.width() + 40,
                cornerRadius: 20,
                height: STAGE.height() + 40,
                fill: '#f4f4f4',
                shadowColor: 'black',
                shadowBlur: 10,
                shadowOffset: {x: 10, y: 10},
                shadowOpacity: 0.5
            });

            LAYER.add(rect);
            LAYER.add(tempImg);
            TEMP_01 = tempImg;
            TEMP_02 = rect;

            var imageBase = new Image();
            imageBase.onload = function () {
                tempImg.image(imageBase);
                LAYER.draw();
            };
            imageBase.src = image;
        }
    }

    function sending(pr, emblem, n_logo) {

        var data = {
            variation_ma: false,
            source_p: pr,
            m_id: pr,
            logo_id: image_id_u,
            relation_x: 500,
            relation_y: 500,
            has_logo: true,
            has_emblem: false,
            emblem_id: emblem_id,
            position_id: position_id
        };

        if (selected) {
            data.dim_x = (selected || {x: 0}).x();
            data.dim_y = (selected || {y: 0}).y();
            data.width = selected.get('.image')[0].width();
            data.height = selected.get('.image')[0].height();
        }

        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: data,
            success: function (data) {
                console.log(data);
                variation_img = true;
                load_p1(data, data['source_p'], emblem, n_logo || true);
            }
        });
    }

    var stage = null;

    function fitStageIntoParentContainer_edit() {
        var container = document.querySelector('#wrapper-side-2');
        // now we need to fit stage into parent
        var containerWidth = container.offsetWidth;
        // to do this we need to scale the stage
        var scale = containerWidth / 500;
        console.log(containerWidth);
        if (500 * scale < 375) {
            stage.width(500 * scale);
            stage.height(500 * scale);

            s_w_u = 500 * scale;
            s_h_u = 500 * scale;

            stage.scale({x: scale, y: scale});
            stage.draw();
        } else {
            stage.width(375);
            stage.height(375);

            s_w_u = 375;
            s_h_u = 375;

            stage.scale({x: (375 / 500), y: (375 / 500)});
            stage.draw();
        }
    }

    function open_quick(pr, view) {
        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: {},
            success: function (data) {

                console.log(data);
                document.getElementById('modal-content-center').outerHTML = default_modal.outerHTML;

                //product.product_id = data['id'];
                //product.data = data;
                //load_p1(product, false);

                product.remove();

                product.product_id = data.id;
                product.color_id = data.main_color.id;
                product.data = data;

                load_viewer();
                load_image_carousel(data);
                switch (view) {
                    case 1:
                        load_view_1(data);
                        break;
                    case 2:
                        load_view_2(data);
                        break;
                    case 3:
                        load_view_3(data);
                        break;
                }

                return false
            },
            error: function (data) {
                return false
            }
        });
        var body = $("body");
        body.addClass("modal-open");
        body.css('overflow', 'hidden');
        modal_quick.style.display = "block";
    }

    function load_data_preset(color_id, logo_id, x, y, multiplexer) {

        var id = product.product_id;
        var size = product.size_id;
        var data = product.data;

        product.remove();

        product.product_id = id;
        product.size_id = size;
        product.data = data;

        product.color_id = color_id;
        product.logo_id = logo_id;
        product.logo_x = parseFloat(x);
        product.logo_y = parseFloat(y);
        product.multiplexer = parseFloat(multiplexer);
        load_viewer();

    }

    function load_viewer() {
        var stageWidth = 500;
        var stageHeight = 500;

        STAGE = new Konva.Stage({
            container: 'image-container',
            width: stageWidth,
            height: stageHeight
        });
        LAYER = new Konva.Layer();
        STAGE.add(LAYER);

        var baseImg = new Konva.Image({
            width: STAGE.width(),
            height: STAGE.height(),
            draggable: false
        });
        LAYER.add(baseImg);

        var imageBase = new Image();
        imageBase.onload = function () {
            baseImg.image(imageBase);
            LAYER.draw();
        };

        $.ajax({
            url: '/catalog/product/color/main_image?color_id=' + product.color_id,
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                imageBase.src = data.picture;
            },
            error: function (data) {
                console.log(data);
            }
        });

        if (product.logo_id) {

            ACTUAL_LOGO = new Konva.Image({
                x: product.logo_x,
                y: product.logo_y
            });
            LAYER.add(ACTUAL_LOGO);

            var imageLogo = new Image();
            imageLogo.onload = function () {
                ACTUAL_LOGO.image(imageLogo);
                ACTUAL_LOGO.setWidth(this.width);
                ACTUAL_LOGO.setHeight(this.height);
                ACTUAL_LOGO.scale({
                    x: product.multiplexer,
                    y: product.multiplexer
                });
                LAYER.draw()
            };

            $.ajax({
                url: '/catalog/product/logo?logo_id=' + product.logo_id,
                type: 'GET',
                dataType: 'text',
                data: {},
                success: function (data) {
                    imageLogo.src = data
                },
                error: function (data) {
                    console.log(data);
                }
            });

        }

        fitStageIntoParentContainer();
        window.addEventListener('resize', fitStageIntoParentContainer);
    }

    function load_view_3(product) {

        document.getElementById('view_3').outerHTML = view_3.outerHTML;

        document.getElementById('view_1').style.display = 'none';
        document.getElementById('view_2').style.display = 'none';
        document.getElementById('view_3').style.display = 'block';
    }

    var ACTUAL_LOGO = null;

    function load_view_2(product_) {

        document.getElementById('view_2').outerHTML = view_2.outerHTML;

        document.getElementById('view_1').style.display = 'none';
        document.getElementById('view_3').style.display = 'none';
        document.getElementById('view_2').style.display = 'block';


        var actor = document.getElementById('actor');
        var new_element = actor.cloneNode(true);
        new_element.addEventListener("click", function () {
            load_view_1(product_)
        });
        new_element.innerHTML = '<i class="fa fa-chevron-left" aria-hidden="true"></i>';
        actor.parentNode.replaceChild(new_element, actor);

        load_colors(product_.id);

        $.ajax({
            url: '/catalog/product/logos?product_id=' + product.product_id,
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data);

                var carousel_jq = $('ul#container-logos');

                for (var i = 0; i < data.length; i++) {
                    carousel_jq.append('<li><img src="' + data[i].picture + '" style="height: 70px;" id="' + data[i].id + '" onclick="load_data_logos(\'' + data[i].id + '\')"></li>');
                }

                var jcarouselSelector = '.jcarousel';

                $(jcarouselSelector).reloadJcarousel();

                $('.jcarousel-control-prev').jcarouselControl({
                    // Options go here
                    target: '-=1'
                });
                $('.jcarousel-control-next').jcarouselControl({
                    // Options go here
                    target: '+=1'
                });
                $('div#preview_size_cr_carousel').jcarousel('reload');
            },
            error: function (data) {

            }
        });

        var iconShow = $("#icon-show-logos");
        var iconHide = $("#icon-hide-logos");
        var loader = $("#icon_loader-logos");

        iconShow.click(function () {
            loader.animate({
                height: 70
            }, 100, function () {
                loader.css({
                    overflow: 'visible'
                });
            });
            iconShow.addClass(" hidden");
            iconHide.removeClass(" hidden");
        });

        iconHide.click(function () {
            loader.animate({
                height: 0
            }, 100, function () {
                loader.css({
                    overflow: 'hidden'
                });
            });
            iconHide.addClass(" hidden");
            iconShow.removeClass(" hidden");
        });

        var anim_zoom_in = new Konva.Animation(function (frame) {
            if (ACTUAL_LOGO !== null) {
                ACTUAL_LOGO.scale({
                    x: product.multiplexer + 0.0005 * frame.timeDiff,
                    y: product.multiplexer + 0.0005 * frame.timeDiff
                });
                LAYER.draw();

                console.log(product.multiplexer)
                product.multiplexer = product.multiplexer + 0.0005 * frame.timeDiff;
            }
        }, LAYER);

        var anim_zoom_out = new Konva.Animation(function (frame) {
            if (ACTUAL_LOGO !== null) {

                ACTUAL_LOGO.scale({
                    x: product.multiplexer - 0.0005 * frame.timeDiff,
                    y: product.multiplexer - 0.0005 * frame.timeDiff
                });
                LAYER.draw();

                product.multiplexer = product.multiplexer - 0.0005 * frame.timeDiff;
            }
        }, LAYER);

        var anim_right = new Konva.Animation(function (frame) {
            console.log(ACTUAL_LOGO);
            if (ACTUAL_LOGO !== null) {
                ACTUAL_LOGO.x(ACTUAL_LOGO.x() + (65 * frame.timeDiff / 1000));
                LAYER.draw();

                console.log(ACTUAL_LOGO.x());
                product.logo_x = ACTUAL_LOGO.x();
                product.logo_y = ACTUAL_LOGO.y();
            }
        }, LAYER);

        var anim_left = new Konva.Animation(function (frame) {
            if (ACTUAL_LOGO !== null) {
                ACTUAL_LOGO.x(ACTUAL_LOGO.x() - (65 * frame.timeDiff / 1000));
                LAYER.draw();

                product.logo_x = ACTUAL_LOGO.x();
                product.logo_y = ACTUAL_LOGO.y();
            }
        }, LAYER);

        var anim_up = new Konva.Animation(function (frame) {
            if (ACTUAL_LOGO !== null) {
                ACTUAL_LOGO.y(ACTUAL_LOGO.y() - (65 * frame.timeDiff / 1000));
                LAYER.draw();

                product.logo_x = ACTUAL_LOGO.x();
                product.logo_y = ACTUAL_LOGO.y();
            }
        }, LAYER);

        var anim_down = new Konva.Animation(function (frame) {
            if (ACTUAL_LOGO !== null) {
                ACTUAL_LOGO.y(ACTUAL_LOGO.y() + (65 * frame.timeDiff / 1000));
                LAYER.draw();

                product.logo_x = ACTUAL_LOGO.x();
                product.logo_y = ACTUAL_LOGO.y();
            }
        }, LAYER);

        var btn_up = $("#up-btn");
        var btn_down = $("#down-btn");
        var btn_left = $("#left-btn");
        var btn_right = $("#right-btn");
        var btn_minus = $("#minus-btn");
        var btn_plus = $("#plus-btn");
        var btn_restart = $("#restart-btn");

        btn_minus.on('mousedown touchstart', function () {
            anim_zoom_out.start();
        });

        btn_minus.on('mouseup touchend', function () {
            anim_zoom_out.stop();
        });

        btn_plus.on('mousedown touchstart', function () {
            anim_zoom_in.start();
        });

        btn_plus.on('mouseup touchend', function () {
            anim_zoom_in.stop();
        });

        btn_up.on('mousedown touchstart', function () {
            anim_up.start();
        });

        btn_up.on('mouseup touchend', function () {
            anim_up.stop();
        });

        btn_down.on('mousedown touchstart', function () {
            anim_down.start();
        });

        btn_down.on('mouseup touchend', function () {
            anim_down.stop();
        });

        btn_left.on('mousedown touchstart', function () {
            anim_left.start();
        });

        btn_left.on('mouseup touchend', function () {
            anim_left.stop();
        });

        btn_right.on('mousedown touchstart', function () {
            anim_right.start();
        });

        btn_right.on('mouseup touchend', function () {
            anim_right.stop();
        });

    }

    function change_source(id) {
        product.color_id = id;
        load_viewer();
        load_colors(product.product_id);
    }

    function load_colors(id) {
        $.ajax({
            url: '/catalog/product/colors?product_id=' + id,
            method: 'get',
            dataType: 'json',
            success: function (data) {

                var div_color_container = $('div#checkboxes-color');
                div_color_container.html('');

                for (var i = 0; i < data.length; i++) {
                    if (data[i].id.toString() === product.color_id.toString()) {
                        div_color_container.append('<div onclick="change_source(\'' + data[i].id + '\')" style="background: ' + data[i].code_hex + '; width: 17px; height: 17px; margin-right: 5px; margin-bottom: 7px; float: left; cursor: pointer">' +
                            '<div id="color-picker" class="">' +
                            '<i style="color: white" class="fa fa-check-circle-o" aria-hidden="true"></i>' +
                            '</div>' +
                            '</div>');
                    } else {
                        div_color_container.append('<div onclick="change_source(\'' + data[i].id + '\')" style="background: ' + data[i].code_hex + '; width: 17px; height: 17px; margin-right: 5px; margin-bottom: 7px; float: left; cursor: pointer">' +
                            '<div id="color-picker" class="">' +

                            '</div>' +
                            '</div>');
                    }
                }
            },
            error: function () {

            }
        });
    }

    function load_data_logos(logo_id) {
        product.logo_id = logo_id;
        load_viewer();
    }

    function start_over() {
        product.logo_id = null;
        product.multiplexer = 1;
        product.logo_x = null;
        product.logo_y = null;
        load_viewer();
    }

    function load_view_1(product) {

        document.getElementById('view_1').outerHTML = view_1.outerHTML;

        var actor = document.getElementById('actor');
        var new_element = actor.cloneNode(true);
        new_element.addEventListener("click", function () {
            close_modal()
        });
        new_element.innerHTML = '<i class="fa fa-times" aria-hidden="true"></i>';
        actor.parentNode.replaceChild(new_element, actor);

        document.getElementById('view_1').style.display = 'block';
        document.getElementById('view_2').style.display = 'none';
        document.getElementById('view_3').style.display = 'none';

        document.getElementById('product_title').innerHTML = product.title;
        document.getElementById('product_price').innerHTML = '$' + product.price;
        var description = document.getElementById('product_description').getElementsByTagName('span');
        description[0].innerHTML = product.description.substr(0, 30);
        description[2].innerHTML = product.description.substr(30);

        //More text for description toggle
        var state = true;
        $("#more-toggle").on('click', function () {
            if (state) {
                $(this).text("Read less");
                $(".complete").show();
                $("#dots").hide();
            } else {
                $(this).text("Read more");
                $(".complete").hide();
                $("#dots").show();
            }
            state = !state;
        });

        $.ajax({
            url: '/catalog/product/sizes?product_id=' + product.id,
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data);

                var carousel_jq = $('ul#container-sizes');

                for (var i = 0; i < data.length; i++) {
                    carousel_jq.append('<li><span style="font-size: 15px" id="' + data[i].id + '" onclick="changeSize(\'' + data[i].id + '\')" class="badge badge-size text_light">' + data[i].title + '</span></li>');
                }

                var jcarouselSelector = '.jcarousel';

                $(jcarouselSelector).reloadJcarousel();

                $('.jcarousel-control-prev').jcarouselControl({
                    // Options go here
                    target: '-=1'
                });
                $('.jcarousel-control-next').jcarouselControl({
                    // Options go here
                    target: '+=1'
                });
                $('div#preview_size_cr_carousel').jcarousel('reload');
            },
            error: function (data) {

            }
        });

        $.ajax({
            url: '/catalog/product/presets?product_id=' + product.id,
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data);

                var carousel_jq = $('ul#container-presets');

                for (var i = 0; i < data.length; i++) {
                    carousel_jq.append('<li><div onclick="load_data_preset(\'' + data[i].color_id + '\', \'' + data[i].logo_id + '\', \'' + data[i].x + '\', \'' + data[i].y + '\', \'' + data[i].multiplexer + '\');" style="width: 70px; height: 70px" id="div_preview_' + data[i].id + '"></div></li>');
                }

                for (var t = 0; t < data.length; t++) {
                    create_preview(data[t]);
                }

                var jcarouselSelector = '.jcarousel';

                $(jcarouselSelector).reloadJcarousel();

                $('.jcarousel-control-prev').jcarouselControl({
                    // Options go here
                    target: '-=1'
                });
                $('.jcarousel-control-next').jcarouselControl({
                    // Options go here
                    target: '+=1'
                });
                $('div#preview_preset_cr_carousel').jcarousel('reload');
            },
            error: function (data) {

            }
        });

        function create_preview(preview) {
            var selector = 'div_preview_' + preview.id;
            var container = document.getElementById(selector);

            var stage = new Konva.Stage({
                container: selector,
                width: 70,
                height: 70,
                preventDefaut: false
            });

            var layer = new Konva.Layer();
            stage.add(layer);

            var baseImg = new Konva.Image({
                x: 0,
                y: 0,
                width: 70,
                height: 70
            });
            layer.add(baseImg);

            var logoImg = new Konva.Image({
                x: (70 * preview.x) / 500,
                y: (70 * preview.y) / 500
            });
            layer.add(logoImg);

            var imageBase = new Image();
            imageBase.onload = function () {
                baseImg.image(imageBase);
                layer.draw();
            };

            var imageLogo = new Image();
            imageLogo.onload = function () {
                logoImg.image(imageLogo);
                logoImg.setWidth(this.width);
                logoImg.setHeight(this.height);
                logoImg.scale({
                    x: (70 * preview.multiplexer) / 500,
                    y: (70 * preview.multiplexer) / 500
                });
                layer.draw()
            };

            $.ajax({
                url: '/catalog/product/color/main_image?color_id=' + preview.color_id,
                type: 'GET',
                dataType: 'json',
                data: {},
                success: function (data) {
                    imageBase.src = data.picture
                },
                error: function (data) {
                    console.log(data);
                }
            });

            $.ajax({
                url: '/catalog/product/logo?logo_id=' + preview.logo_id,
                type: 'GET',
                dataType: 'text',
                data: {},
                success: function (data) {
                    imageLogo.src = data
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        var iconShow = $("#icon-show");
        var iconHide = $("#icon-hide");
        var loader = $("#icon_loader");

        iconShow.click(function () {
            loader.animate({
                height: 40
            }, 100, function () {
                loader.css({
                    overflow: 'visible'
                });
            });
            iconShow.addClass(" hidden");
            iconHide.removeClass(" hidden");
        });

        iconHide.click(function () {
            loader.animate({
                height: 0
            }, 100, function () {
                loader.css({
                    overflow: 'hidden'
                });
            });
            iconHide.addClass(" hidden");
            iconShow.removeClass(" hidden");
        });

        var logoShow = $("#icon-show-logo");
        var logoHide = $("#icon-hide-logo");
        var loader_logo = $("#icon_loader_logo");

        logoShow.click(function () {
            loader_logo.animate({
                height: 80
            }, 200, function () {
                loader_logo.css({
                    overflow: 'visible'
                });
            });
            logoShow.addClass(" hidden");
            logoHide.removeClass(" hidden");
        });

        logoHide.click(function () {
            loader_logo.animate({
                height: 0
            }, 200, function () {
                loader_logo.css({
                    overflow: 'hidden'
                });
            });
            logoHide.addClass(" hidden");
            logoShow.removeClass(" hidden");
        });
    }

    var ACTUAL_IMAGE_PREVIEW = null;

    function load_image_carousel(product) {
        $.ajax({
            url: '/catalog/product/images?product_id=' + product.id,
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data);

                var html_images = '';
                var carousel_jq = $('ul#preview_image_container');

                for (var i = 0; i < data.length; i++) {
                    carousel_jq.append('<li><img onmouseout="hide_preview()" onmouseover="show_preview(\'' + data[i][1] + '\')" id="" src="' + data[i][0] + '" height="70px"></li>');
                }

                var jcarouselSelector = '.jcarousel';

                $(jcarouselSelector).reloadJcarousel();

                $('.jcarousel-control-prev').jcarouselControl({
                    // Options go here
                    target: '-=1'
                });
                $('.jcarousel-control-next').jcarouselControl({
                    // Options go here
                    target: '+=1'
                });
                $('div#preview_image_cr_carousel').jcarousel('reload');
            },
            error: function (data) {

            }
        });
    }

    function show_preview(src) {

        ACTUAL_IMAGE_PREVIEW = new Konva.Image({
            x: 250,
            y: 250,
            offsetX: 200,
            offsetY: 200,
            width: 400,
            height: 400
        });

        LAYER.add(ACTUAL_IMAGE_PREVIEW);
        var imagePreview = new Image();
        imagePreview.onload = function () {
            ACTUAL_IMAGE_PREVIEW.image(imagePreview);
            LAYER.draw();
        };
        imagePreview.src = src;

    }

    function hide_preview() {
        ACTUAL_IMAGE_PREVIEW.destroy();
        LAYER.draw()
    }

    function addToCart() {

        if (product.size_id !== null) {

            $.ajax({
                type: "POST",
                url: "/add_cart",
                data: {
                    product: product
                },
                success: function (data, status, xhr) {
                    modal_quick.style.display = "none";
                    $("body").removeClass("modal-open");
                    $('body').css('overflow', 'auto');
                    $('body').css('position', 'relative');
                    location.reload();
                },
                dataType: 'json'
            });
        } else {
            alert('Select a size');
        }
    }

    function changeSize(id) {

        var spans = document.getElementById('container-sizes').getElementsByTagName('span');
        product.size_id = id;

        for (var i = 0; i < spans.length; i++) {
            console.log(spans[i].id);
            console.log(id);
            if (spans[i].id === id) {
                $(spans[i]).addClass('badge_selected');
            } else {
                $(spans[i]).removeClass('badge_selected');
            }
        }
    }

    var tempData_array = [];
    var imageObj = null;
    var emblemImg = null;

    function add_emblem_item(data, layer) {
        if (imageObj === null) {
            emblemImg = new Konva.Image({
                width: 500 * parseFloat(data.width) / parseFloat(data.rel_x),
                height: 500 * parseFloat(data.height) / parseFloat(data.rel_y),
                x: 500 * parseFloat(data.x) / parseFloat(data.rel_x),
                y: 500 * parseFloat(data.y) / parseFloat(data.rel_y)
            });

            layer.add(emblemImg);


            imageObj = new Image();
            imageObj.onload = function () {
                emblemImg.image(imageObj);
                layer.draw();
            };
        }
        emblemImg.width(500 * parseFloat(data.width) / parseFloat(data.rel_x));
        emblemImg.height(500 * parseFloat(data.height) / parseFloat(data.rel_y));
        emblemImg.x(500 * parseFloat(data.x) / parseFloat(data.rel_x));
        emblemImg.y(500 * parseFloat(data.y) / parseFloat(data.rel_y));
        imageObj.src = data['url'];

        emblem.emblem_id = data['emblem_id'];
        emblem.position = data['id'];
        emblem.data = data;
        product.emblem = emblem;
    }

    function get_emblems_placement(pr, container) {

        var imageObj = null;
        var emblemImg = null;

        tempData_array = [];

        $.ajax({
            url: '/catalog/product/emblems/' + pr,
            method: 'get',
            dataType: 'json',
            data: {
                product_id: ''
            },
            success: function (data) {

                var emblems = '';
                for (var i = 0; i < data.length; i++) {

                    tempData_array.push(data[i]);

                    emblems += '<li>' +
                        '<div onclick="add_emblem_item(tempData_array[' + i + '], LAYER)" style="cursor: pointer; margin: 4px; width: 100px; height: 150px; text-align: center">' +
                        '<div style=" background: #f1f1f1; padding-bottom: 10px;">' +
                        '<img style="margin: 5px;" height="50px" src="' + data[i]['url'] + '">' +
                        '<div><h5 style="width: 100%; font-weight: bold;">' + data[i]['name'] + '</h5></div>' +
                        '</div>' +
                        '<div><h5 style="width: 100%; color: #c2a5b2">+$' + data[i]['cost'] + '</h5></div>' +
                        '</div>' +
                        '</li>'
                }

                document.getElementById('emblem-place').innerHTML = '<div id="icon_loader" class="jcarousel-wrapper">' +
                    '<div id="myCarousel" class="jcarousel" data-jcarousel="true">' +
                    '<ul id="container-logo" style="left: 0; top: 0;">' +
                    emblems +
                    '</ul>' +
                    '</div>' +
                    '<button style="top: 0; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                    '<button style="top: 0; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                    '</div>';

                //Photo slider
                (function ($) {
                    $(function () {
                        $('.jcarousel').jcarousel();

                        $('.jcarousel-control-prev')
                            .on('jcarouselcontrol:active', function () {
                                $(this).removeClass('inactive');
                            })
                            .on('jcarouselcontrol:inactive', function () {
                                $(this).addClass('inactive');
                            })
                            .jcarouselControl({
                                target: '-=1'
                            });

                        $('.jcarousel-control-next')
                            .on('jcarouselcontrol:active', function () {
                                $(this).removeClass('inactive');
                            })
                            .on('jcarouselcontrol:inactive', function () {
                                $(this).addClass('inactive');
                            })
                            .jcarouselControl({
                                target: '+=1'
                            });

                        $('.jcarousel-pagination')
                            .on('jcarouselpagination:active', 'a', function () {
                                $(this).addClass('active');
                            })
                            .on('jcarouselpagination:inactive', 'a', function () {
                                $(this).removeClass('active');
                            })
                            .jcarouselPagination();
                    });
                })(jQuery);

                var loader_placement = $("#emblem-place");

                $(document).ready(function () {
                    container.height_plac_size = loader_placement.height();
                });

            },
            error: function (data) {

            }
        });

    }

    var item_s = '<%= params['id'] %>';
    var item_v = '<%= params['view'] %>';
    if (item_s !== '') {
        if (item_v === '2') {
            open_quick(item_s, 2);
        } else {
            open_quick(item_s, 1);
        }
    }

</script>