<body>

</body>

<script>
  function send_token(det) {
      $.ajax({
          url: "/mail_token",
          type: "GET",
          data: {},
          dataType: "html",
          success: function () {
              if (det){
                  document.getElementById('token_sender').outerHTML = '<h5 id="token_sender" style="font-weight: 400; width: 100%; margin-top: 18px" class="text_light">Review email</h5>'
              }else{
                  location.href = 'users/sign_up?tempUser=true'
              }
          }
      })
  }
</script>