<body>
<div id="items-container" class="message_wrapper">
  <div class="card content-part message_container">
    <%= form_tag '/temporary/user/orders', id: 'form', method: :get do %>
        <input autocomplete="off" id="email_f" value="<%= params['em'] %>" style="width: 100%" placeholder="Email" type="text" class="serious-input" name="token">
        <input autocomplete="off" id="token_f" value="<%= params['tk'] %>" style="width: 100%" placeholder="Token" type="text" class="serious-input" name="token">
        <button type="button" onclick="orders()" class="btn-sp btn" style="width: 100%">Manage orders</button>
    <% end %>
  </div>
</div>

<script>

    function orders() {
        $.ajax({
            url: '/temporary/user/orders',
            method: 'post',
            headers: {
                'Authorization': $('#token_f').val()
            },
            dataType: 'text',
            data: {email: $('#email_f').val()},
            success: function (data) {
                location.href = '/temporary/user/orders'
            },
            error: function () {

            }
        });
    }
</script>

<% if params['em'] %>
<script>
    orders();
</script>
<% end %>

</body>