<body>
<div id="items-container" class="message_wrapper">
  <div style="height: 213px; padding: 0;" class="card content-part message_container">
    <h4 style="padding: 20px" class="text_light">You are signed as a temporary user
      to review your orders continue as a temporary user or sign up</h4>

    <div style="position: absolute; bottom: 10px; width: 100%">
      <button id="token_sender" style="font-weight: 400; width: 100%; margin-top: 18px;" class="btn btn-sp text_light" type="button" onclick="send_token(true)">Continue as temporary user</button>
      <button style="font-weight: 400; width: 100%; margin-top: 5px" class="btn btn-sp text_light" type="button" onclick="send_token(false)">Sign up</button>
    </div>
  </div>
</div>
</body>

<script>
  function send_token(det) {
      $.ajax({
          url: "/mail_token",
          type: "GET",
          data: {},
          dataType: "html",
          success: function () {
              if (det){
                  document.getElementById('token_sender').outerHTML = '<h5 id="token_sender" style="font-weight: 400; width: 100%; margin-top: 18px" class="text_light">Review email</h5>'
              }else{
                  location.href = 'users/sign_up?tempUser=true'
              }
          }
      })
  }
</script>