<body>
<div id="items-container" style="height: 50vh; text-align: center; position: relative; overflow: hidden; margin-bottom: 30px">
  <div style="height:160px; margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0;" class="card content-part">
    <h4 class="text_light">You are signed as a temporary user
      to review your orders go to the link
      sent to your email or yo can create
      an account with us</h4>

    <button style="font-weight: 400; width: 100%; margin-top: 18px" class="btn btn-sp text_light" type="button" onclick=" location.href = 'users/sign_up'">Sign
      up
    </button>
  </div>
</div>
</body>