<div class="modal fade" id="edit_product" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="overflow: hidden;">
        <h4 class="modal-title" style="float: left">Edit product</h4>
        <button style="float: right" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <div id="container-edit" class="modal-body" style="background: #ebebeb">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>