* {
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  background-size: cover;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1%;

}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.logo {
  position: absolute;
  margin-left: -25px;
  left: 50%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ht {
  vertical-align: middle;
  margin-top: 100px;

  font-size: 70px;
}

.mainNav {
  overflow: visible;
  position: relative;

}

.row {
  text-align: center;
}

.col-cen {
  display: inline-block;
}



.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: transparent;
  color: white;
  border: 3px solid #4CAF50;
  margin-top: 30px;
  margin-bottom: 30px;

}


.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.buttonig {
  background-color: white;
  color: white;
  border: 3px solid pink;
  margin-top: 10px;

}

.buttonig:hover {
  background-color: #dedede;
  color: white;
}

/*
hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-top: 3px solid pink;
  width: 80px;

}*/

.hr2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-top: 3px solid black;
  width: 80px;

}

.img1 {
  float: left;

  width: 120px;

}

.img2 {
  float: right;

  width: 120px;

}

.img1lg {
  float: left;

  width: 400px;

}

.img2lg {
  float: right;

  width: 400px;

}

.bcolor {
  border-style: solid;
  border-color: pink;
}

.img3 {
  width: 100px;
}

.img4 {
  width: 75px;
}

.vertical-line {
  background-color: pink; /* Line color */

}


.button2 {
  background-color: white;
  color: white;
  border: 3px solid pink;
  margin-top: 30px;

}

.button2:hover {
  background-color: #dedede;
  color: white;
}

@media (max-width: 600px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 765px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.wht {
  background-color: white;

}

img.showcase {
  width: 100%;
}

@media screen and (min-width: 765px) {

  img.showcase {
    width: 40%;
  }

  .desktopnot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .mobilenot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.mm {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 30px;
  margin-right: 30px;
}

.prod {
  height: 100px;
}

.thumb {
  height: 200px;
  width: 150px;
}

input[type=text] {
  width: 70%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background: white;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 90%;
}

#search-index input[type=text] {
  width: 13%;
}

#search-index input[type=text]:focus {
  width: 20%;
}

.iconx {
  float: left;
  font-size: 23px;
  margin-top: 13px;
  margin-right: 15px;
  color: gray;

}

.lf {
  font-size: 9px;
}

.blc {
  background-color: black;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

.borders {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: -1px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.row.vertical-divider {
  overflow: hidden;
}

.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
  border-right: 3px solid #F2F7F9;
}

.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}

.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}