* {
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}

button.styling_btn {
  margin-top: 30px;
  color: #c098ac;
  background: white;
  border-radius: 0;
  width: 200px;
  border-color: #c098ac;
}

button.styling_btn:hover {
  color: #c098ac;
}

.header {
  position: relative;
  width: 100%;
  background-size: cover;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1%;

}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.logo {
  position: absolute;
  margin-left: -25px;
  left: 50%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ht {
  margin-top: 75px;
  font-size: 50px;
  height: 300px;
  width: 100%;
  text-align: center;
}

.row {
  text-align: center;
}

.col-cen {
  display: inline-block;
}

.button {
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.carousel-cap {
  text-align: center;
}

.button-head {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  float: left;
  background-color: transparent;
  color: white;
  border: 3px solid #b692a2;
}

.button-head:hover {
  background-color: #b692a2;
  color: white;
}

.buttonig {
  background-color: white;
  color: white;
  border: 3px solid pink;
  margin-top: 10px;

}

.buttonig:hover {
  background-color: #dedede;
  color: white;
}

/*
hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-top: 3px solid pink;
  width: 80px;

}*/

.hr2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-top: 3px solid black;
  width: 80px;

}

.img1 {
  float: left;

  width: 120px;

}

.img2 {
  float: right;

  width: 120px;

}

.img1lg {
  float: left;

  width: 400px;

}

.img2lg {
  float: right;

  width: 400px;

}

.bcolor {
  border-style: solid;
  border-color: pink;
}

.img3 {
  width: 100px;
}

.img4 {
  width: 75px;
}

.vertical-line {
  background-color: pink; /* Line color */

}


@media (max-width: 600px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 765px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.wht {
  background-color: white;

}

img.showcase {
  width: 100%;
}

@media screen and (min-width: 765px) {

  img.showcase {
    width: 40%;
  }

  .desktopnot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .mobilenot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.mm {
  margin: 1px 30px;
}

.prod {
  height: 100px;
}

.imgxx {
  height: 50px;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -33px !important; /* 50% of your logo width */
  display: block;
}

.thumb {
  height: 200px;
  width: 150px;
}

input[type=text].foot-form {
  width: 60%;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  font-size: 16px;
  background: #787878;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text].foot-form:focus {
  width: 80%;
  background: white;
}

.foot-form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.foot-form::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

.foot-form:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

.foot-form:-moz-placeholder { /* Firefox 18- */
  color: white;
}

#search-index input[type=text] {
  background: white;
  width: 13%;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

#search-index input[type=text]:focus {
  width: 20%;
}

.iconx {
  float: left;
  font-size: 23px;
  margin-top: 13px;
  margin-right: 15px;
  color: gray;
}

.lf {
  font-size: 9px;
}

.blc {
  background-color: #161616;
  padding: 20px 15px 15px;
}

.borders {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: -1px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.row.vertical-divider {
  overflow: hidden;
}

.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
  border-right: 3px solid #F2F7F9;
}

.selectable {
  cursor: pointer;
}

.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}

.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}