* {
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}

button.styling_btn {
  margin-top: 30px;
  color: #c098ac;
  background: white;
  border-radius: 0;
  min-width: 230px;
  min-height: 40px;
  border: #c098ac solid 1px;
}

button.styling_btn:hover {
  color: black;
  background: lightgrey;
  border: grey solid 1px;
}

button.styling_btn:focus {
  color: black;
  background: lightgrey;
  border: grey solid 1px;
}

.styling_btn:active {
  color: black;
  background: darkgrey;
  border: grey solid 1px;
}

.text-triangle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 7vw;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30vw 50vw 30vw;
  border-color: transparent transparent #ffffff transparent;
}

.side-list {
  flex: 2;
  align-self: flex-end;
  text-align: center;
  border: solid thin #b692a2;
  padding: 17px;
}

.pri-limit {
  width: 45%;
  max-width: 220px;
  height: 80px;
}

.absolute-center {
  width: 60%;
  height: 30%;
  text-align: center;
  color: white;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 8vw;
  left: 0;
  right: 0;
}

.absolute-center-arrow {
  width: 6vw;
  height: 6vw;
  font-size: 5vw;
  text-align: center;
  color: white;
  overflow: visible;
  margin: auto;
  cursor: pointer;
}

.centered-images-showcase{
  max-width: 80vw;
}

.center-div-container {
  position: absolute;
  bottom: 15px;
  z-index: 1;
  height: 90px;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 40%;
}

.header {
  position: relative;
  width: 100%;
  background-size: cover;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-family: CaviarDream, Helvetica, sans-serif;
  font-size: 1%;

}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: CaviarDream, Helvetica, sans-serif;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.logo {
  position: absolute;
  margin-left: -25px;
  left: 50%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ht {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  width: 100%;
  text-align: center;
}

.ht-desk {
  margin-top: 75px;
  font-size: 50px;
  height: 300px;
  width: 100%;
  text-align: center;
}

.row {
  text-align: center;
}

.col-cen {
  display: inline-block;
}

.button {
  color: white;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.carousel-cap {
  text-align: center;
}

.button-head {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  float: left;
  background-color: rgba(194,165,178,0.70);
  color: white;
  border: 3px solid #b692a2;
}

.button-head:active{
  background-color: #b692a2;
  color: white;
}

.button-head:focus{
  background-color: #b692a2;
  color: white;
}

.button-head-phone{
  width: 112px;
  height: 50px;
  font-weight: 400;
  font-size: 14px
}

.button-head:hover {
  background-color: #b692a2;
  color: white;
}

.img1 {
  float: left;
  width: 120px;

}

.img2 {
  float: right;
  width: 120px;

}

.img1lg {
  float: right;
  height: 100%;

}

.img2lg {
  float: left;
  height: 100%;
}

.bcolor {
  border-style: solid;
  border-color: pink;
}

.img3 {
  width: 100px;
}

.img4 {
  width: 75px;
}

img.showcase {
  width: 100%;
}

@media screen and (min-width: 765px) {

  .centered-images-showcase{
    max-width: 30vw;
  }

}

@media (max-width: 600px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 765px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media screen and (min-width: 765px) {
  .desktopnot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .mobilenot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}