<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-home"></span></a>
        </li>
        <li class="active">
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-picture-o"></span></a>
        </li>
        <li>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-truck"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">

<div class="center-div">
  <div class="card notification-ask" style="background: #ffffff">
    <h3>Add variation</h3>
    <hr>
    <div style="text-align: left">
      <%= form_tag "/admin/add_variation/#{@product_id}", :name => 'addVariationForm', :method => :post do %>
          <div class="form-group">
            <label class="col-md-3" for="modifier">Modifier: </label>
            <select class="col-md-7" name="modifier" id="modifier">
              <% @modifiers.each do |mod| %>
                  <option value='<%= mod[0] %>'><%= mod[1]['title'] %></option>
              <% end %>
            </select>
          </div>
          <div id="variable-form">

          </div>

          <button type="submit" style="width: 100%" class="btn btn-primary">ADD</button>


          <script>
              $(document).ready(function () {
                  $(document).on('change', "#modifier", function () {
                      switch ($(this).prop('selectedIndex')) {
                          case 0:
                              $('#variable-form').html('');
                              break;
                          case 1:
                              $('#variable-form').html('<div class="form-group"> <label class="col-md-3" for="changes">Size: </label><input class="col-md-7" type="text" id="changes" name="changes"></div><div class="form-group"><label class="col-md-3" for="changes">Price mod: </label><select class="col-md-2" name="sign"><option value="+">+</option><option value="+">-</option><option value="+">=</option></select><input class="col-md-5" type="text" id="price_mod" name="price_mod"></div>');
                              break;
                          case 2:
                              $('#variable-form').html('<div class="form-group"> <label class="col-md-3" for="changes">Color: </label><input class="col-md-7" type="text" id="changes" name="changes"></div><div class="form-group"><label class="col-md-3" for="changes">Price mod: </label><select class="col-md-2" name="sign"><option value="+">+</option><option value="+">-</option><option value="+">=</option></select><input class="col-md-5" type="text" id="price_mod" name="price_mod"></div>');
                              break;
                      }
                  });
              });

          </script>

      <% end %>

    </div>
  </div>
</div>
</body>