<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-home"></span></a>
        </li>
        <li class="active">
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-picture-o"></span></a>
        </li>
        <li>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-truck"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">
<div class="main">

  <!--Display tags as bootstrap pills -->
  <%= javascript_include_tag 'bootstrap-tagsinput' %>
  <%= stylesheet_link_tag 'bootstrap-tagsinput' %>

  <div class="head-bread-crumbs card">
    <h4><a class="breadcrumb" href="/admin/products">Products</a> / New</h4>
  </div>

  <div style="width: 100%; height: 100%; position: relative; overflow-x: scroll">
    <div class="card modal-c">
    <button onclick="save()">Save</button>
    <table>
      <thead>
      <tr class="heading_table">
        <th></th>

        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Stock</th>
        <th>SKU</th>
        <th>Description</th>

        <th>Size</th>
        <th>Logo</th>
        <th>Color</th>

        <th>Category</th>
        <th>Style</th>
        <th>Material</th>
        <th>Brand</th>

        <th>Tax Band</th>
      </tr>
      </thead>
      <tbody id="tt_body">
      <tr data-id-row="1" id="mm_row" class="product_row_new">
        <td>
          <button onclick="delete_row(this)">Remove</button>
        </td>
        <td>
          <input class="form-control" value="" id="title" name="title">
        </td>
        <td>
          <input class="form-control" type="number" step="any" value="" id="price" name="price">
        </td>
        <td>
          <select id="status_edit" name="status_edit">
            <option value="0">Draft</option>
            <option value="1">Live</option>
          </select>
        </td>
        <td>
          <input class="form-control" type="number" name="stock" value="" id="stock">
        </td>
        <td>
          <input class="form-control" value="" id="sku" name="sku">
        </td>
        <td>
          <textarea rows="1" class="form-control" name="description" id="description_edit"></textarea>
        </td>
        <td>
          <button onclick="edit_modal('size_modal', this.parentNode.parentNode.dataset.idRow)">Edit sizes</button>
        </td>
        <td>
          <button onclick="edit_modal('logo_modal', this.parentNode.parentNode.dataset.idRow)">Edit logos</button>
        </td>
        <td>
          <button onclick="edit_modal('color_modal', this.parentNode.parentNode.dataset.idRow)">Edit colors</button>
        </td>
        <td>
          <button onclick="edit_modal('category_modal', this.parentNode.parentNode.dataset.idRow)">Edit categories
          </button>
        </td>
        <td>
          <button onclick="edit_modal('style_modal', this.parentNode.parentNode.dataset.idRow)">Edit styles</button>
        </td>
        <td>
          <button onclick="edit_modal('material_modal', this.parentNode.parentNode.dataset.idRow)">Edit materials
          </button>
        </td>
        <td>
          <button onclick="edit_modal('brand_modal', this.parentNode.parentNode.dataset.idRow)">Edit brands</button>
        </td>
        <td>
          <select>
            <% TaxBand.all.each do |tax| %>
                <option value="<%= tax.id %>"><%= tax.titulo %></option>
            <% end %>
          </select>
        </td>

      </tr>
      <tr id="replace_with">
        <td>
          <button onclick="add_row()">Add row</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>

  <div id="dim_back" class="dim_back">

    <div style="overflow:hidden;" id="size_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="logo_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="color_modal" class="content_pop">
    </div>

    <div id="category_modal" class="content_pop">
      <button style="float: left; width: 10%; margin: 0;">+</button>
      <input style="float: left; width: 90%; margin: 0;" value="" placeholder="Title" name="title" id="title">
      <button>SAVE</button>
    </div>

    <div id="style_modal" class="content_pop">
      <button style="float: left; width: 10%; margin: 0;">+</button>
      <input style="float: left; width: 90%; margin: 0;" value="" placeholder="Title" name="title" id="title">
      <button>SAVE</button>
    </div>

    <div id="material_modal" class="content_pop">
      <button style="float: left; width: 10%; margin: 0;">+</button>
      <input style="float: left; width: 90%; margin: 0;" value="" placeholder="Title" name="title" id="title">
      <button>SAVE</button>
    </div>

    <div id="brand_modal" class="content_pop">
      <button style="float: left; width: 10%; margin: 0;">+</button>
      <input style="float: left; width: 90%; margin: 0;" value="" placeholder="Title" name="title" id="title">
      <button>SAVE</button>
    </div>

  </div>

</div>
</body>
<link href="https://wzrd.in/standalone/blob-util@latest" rel="script">
<script>

    var sizes_g = {};
    var logos_g = {};
    var colors_g = {};
    var categories_g = {};
    var styles_g = {};
    var materials_g = {};
    var brands_g = {};

    var row_count = 1;
    var actual_row_id = null;

    var modal = null;
    var dim_back = document.getElementById('dim_back');

    function complete_size(id) {

        var html = '<button onclick="save_sizes(' + id + ')">SAVE</button>';
        var sizes = sizes_g[id];
        if (sizes) {
            sizes.forEach(function (size) {
                html = html + '<div class="size_row" style="overflow: hidden">' +
                    '<button onclick="remove_size_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<input style="float: left; width: 50%; margin: 0;" value="' + size.title + '" name="title" id="title">' +
                    '<input style="float: left; width: 40%; margin: 0;" type="number" value="' + size.price + '" placeholder="Price" name="price" id="price">' +
                    '</div>';
            });
        } else {
            html = html + '<div class="size_row" style="overflow: hidden">' +
                '<button onclick="remove_size_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 50%; margin: 0;" value="" name="title" id="title">' +
                '<input style="float: left; width: 40%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_size_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_size_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="size_row" style="overflow: hidden">' +
            '<button onclick="remove_size_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 50%; margin: 0;" value="" name="title" id="title">' +
            '<input style="float: left; width: 40%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
            '</div>' + '<button id="bonnie" onclick="new_size_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_size_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_sizes(id) {
        var rows = $(modal).find('.size_row');
        sizes_g[id] = [];

        for (var i = 0; i < rows.length; i++) {
            sizes_g[id].push({
                title: $(rows[i]).find('input[id="title"]').val(),
                price: $(rows[i]).find('input[id="price"]').val()
            })
        }
    }

    function complete_logo(id) {

        var html = '<button onclick="save_logos(' + id + ')">SAVE</button>';
        var logos = logos_g[id];
        if (logos) {
            logos = logos.logos;
            logos.forEach(function (logo) {
                var rr_data = '<div class="logo_row" data-id-use="' + logo.id + '" data-ocupaid-use="true" style="overflow: hidden">' +
                    '<button onclick="remove_logo_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<p style="text-align: center; float: left; width: 25%; margin: 0;">' + logo.file.name + '</p>' +
                    '<input style="float: left; width: 40%; margin: 0;" type="file" value="" name="file" id="file">' +
                    '<input style="float: left; width: 25%; margin: 0;" type="number" value="' + logo.price + '" placeholder="Price" name="price" id="price">' +
                    '</div>';
                console.log(logo.file);
                html = html + rr_data
            });
        } else {
            html = html + '<div data-ocupaid-use="false" class="logo_row" style="overflow: hidden">' +
                '<button onclick="remove_logo_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 50%; margin: 0;" type="file" value="" name="file" id="file">' +
                '<input style="float: left; width: 40%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_logo_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_logo_row(id) {
        $(modal).find('#bonnie').replaceWith('<div  data-ocupaid-use="false" class="logo_row" style="overflow: hidden">' +
            '<button onclick="remove_logo_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 50%; margin: 0;" type="file" value="" name="file" id="file">' +
            '<input style="float: left; width: 40%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
            '</div>' + '<button id="bonnie" onclick="new_logo_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_logo_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_logos(id) {
        var rows = $(modal).find('.logo_row');
        var holder = null;
        var logos_tt = logos_g[id];
        if (logos_tt) {
            holder = logos_tt.logos;
        }
        logos_g[id] = {cur_id: 0, logos: []};

        for (var i = 0; i < rows.length; i++) {
            console.log(rows[i].dataset.ocupaidUse);
            if (rows[i].dataset.ocupaidUse === 'false') {
                logos_g[id].logos.push({
                    id: logos_g[id].cur_id,
                    file: $(rows[i]).find('input[id="file"]')[0].files[0],
                    price: $(rows[i]).find('input[id="price"]').val()
                });

                logos_g[id].cur_id = logos_g[id].cur_id + 1;
            } else {
                var item = get_correct(holder, parseInt(rows[i].dataset.idUse));
                logos_g[id].logos.push({
                    id: item.id,
                    file: item.file,
                    price: $(rows[i]).find('input[id="price"]').val()
                });
            }
        }
    }

    function get_correct(holder, id) {
        var selected = null;
        holder.forEach(function (obj) {
            if (obj.id === (id)) {
                selected = obj;
            }
        });
        return selected;
    }

    function complete_color(id) {
        var html = '<button onclick="save_colors(' + id + ')">SAVE</button>';
        var colors = colors_g[id];
        if (colors) {
            colors = colors.colors;
            colors.forEach(function (color) {
                var rr_data = '<div class="color_row" data-id-use="' + color.id + '" data-ocupaid-use="true" style="overflow: hidden; width: 100%; float: left;">\n' +
                    '      <button onclick="remove_color_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="" placeholder="Title" name="title" id="title">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" placeholder="Price" name="price" id="price">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="" type="color" placeholder="Color" name="code_hex" id="code_hex">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
                    '      <input type="checkbox" value="true" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
                    '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
                    '      <input multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
                    '      <input style="width: 12%; float:left; margin: 0;" value="" type="text" placeholder="Name of primary image" name="main_image" id="main_image">' +
                    '</div>';
                html = html + rr_data
            });
        } else {
            html = html + '<div class="color_row" data-ocupaid-use="false" style="overflow: hidden; width: 100%; float: left;">\<n></n>' +
                '      <button onclick="remove_color_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" placeholder="Title" name="title" id="title">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" placeholder="Price" name="price" id="price">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" type="color" placeholder="Color" name="code_hex" id="code_hex">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
                '      <input type="checkbox" value="true" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
                '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
                '      <input multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
                '      <input style="width: 12%; float:left; margin: 0;" value="" type="text" placeholder="Name of primary image" name="main_image" id="main_image">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_color_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_color_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="color_row" data-ocupaid-use="false" style="overflow: hidden; width: 100%; float: left;">\<n></n>' +
            '      <button onclick="remove_color_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '      <input style="float: left; width: 12%; margin: 0;" value="" placeholder="Title" name="title" id="title">\n' +
            '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" placeholder="Price" name="price" id="price">\n' +
            '      <input style="float: left; width: 12%; margin: 0;" value="" type="color" placeholder="Color" name="code_hex" id="code_hex">\n' +
            '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
            '      <input type="checkbox" value="true" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
            '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
            '      <input multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
            '      <input style="width: 12%; float:left; margin: 0;" value="" type="text" placeholder="Name of primary image" name="main_image" id="main_image">' +
            '</div>' + '<button id="bonnie" onclick="new_color_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function edit_modal(type, id) {
        modal = document.getElementById(type);
        modal.style.display = "block";
        dim_back.style.display = "block";
        actual_row_id = id;
        console.log(type);

        switch (type) {
            case 'size_modal':
                modal.innerHTML = complete_size(id);
                break;
            case 'logo_modal':
                modal.innerHTML = complete_logo(id);
                break;
            case 'color_modal':
                modal.innerHTML = complete_color(id);
                break;
            case 'category_modal':
                //complete_category(id);
                break;
            case 'style_modal':
                //complete_style(id);
                break;
            case 'material_modal':
                //complete_material(id);
                break;
            case 'brand_modal':
                //complete_brand(id);
                break;
        }

        window.onclick = function (event) {
            if (event.target === dim_back) {
                modal.style.display = "none";
                dim_back.style.display = "none";
            }
        };
    }

    var mm_row = document.getElementById('mm_row').cloneNode(true);
    var mm_btn = document.getElementById('replace_with').outerHTML;
    function add_row() {
        row_count = row_count + 1;
        mm_row.dataset.idRow = row_count;
        document.getElementById('replace_with').outerHTML = (mm_row.outerHTML + mm_btn);
    }

    function delete_row(element_row) {
        var row = element_row.parentNode.parentNode;
        var overall_parent = row.parentNode;
        overall_parent.removeChild(row);
    }

    function save() {
        var rows = [];
        $("tr.product_row_new").each(function () {
            rows.push($(this))
        });
        var limit_n = rows.length;
        var current_n = 0;
        var current = 0;

        request(rows[0]);

        function request(row) {
            $.ajax({
                url: "/product/new/product",
                type: "POST",
                data: {
                    title: row.find('#title_edit').val(),
                    sku: row.find('#sku_edit').val(),
                    status: row.find('select[name="status_edit"]').val(),
                    category: row.find('select[name="category_edit"]').val(),
                    brand: row.find('select[name="brand_edit"]').val(),
                    price: row.find('#price_edit').val(),
                    tax_band: row.find('select[name="tax_edit"]').val(),
                    sale_price: row.find('#price_edit').val(),
                    stock_level: row.find('#stock_level_edit').val(),
                    stock_status: row.find('select[name="stock_status_edit"]').val(),
                    description: row.find('#description_edit').val(),
                    slug: row.find('#tags_edit').val(),
                    requires_shipping: row.find('select[name="requires_shipping_edit"]').val(),
                    catalog_only: row.find('select[name="catalog_only_edit"]').val()
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    upload(row, data)
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }

        function upload(row, data) {
            var files = row.find('#img_edit')[0].files;
            current = 0;

            function send(i) {
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    var blob = new Blob([this.result], {type: "image/jpeg"});
                    console.log(blob);
                    sendRecToPost(blob, '/product/upload_image?imageO=true&id='.concat(data['id']), files.length);
                };
                reader.readAsArrayBuffer(files[i]);
            }

            send(current);

            function sendRecToPost(blob, url, limit) {

                var data = new FormData();
                data.append("file", blob);

                var oReq = new XMLHttpRequest();
                oReq.open("put", url);
                oReq.send(data);

                oReq.onload = function (oEvent) {
                    if (oReq.status === 200) {
                        console.log("Uploaded");
                        current = current + 1;
                        if (current === limit && current_n < (limit_n - 1)) {
                            current_n = current_n + 1;
                            request(rows[current_n]);
                        } else if (current < limit) {
                            send(current);
                        } else if (current_n === (limit_n - 1)) {
                            window.location.href = '/admin/products'
                        }
                    } else {
                        console.log("Error " + oReq.status + " occurred uploading your file.");
                    }
                };
            }

        }
    }

</script>