@import "font-awesome-sprockets";
@import "font-awesome";

/*div.table_search {
    margin-top: 20px;
    float: left;
}

div.table_products{
    margin-top: 20px;
    float: left;
}

th, td, button.head_t{
    font-size: x-small;
}

.logos{
}

@media (min-width: 900px) {

    div.table_search {
        width: 30%;
    }

    div.table_products{
        width: 68%;
        margin-left: 2%;
    }

    .logos{
        float: left;
        border-radius: 10px;
        border: lightgray solid;
        margin: 1%;
        width: 48%;
        padding: 4px;
    }
}

@media (max-width: 900px) {

    div.table_search {
        width: 100%;
    }

    div.table_products{
        width: 100%;
        margin-left: 0%;
    }
}

@media (max-width: 750px) {

    div.table_search {
    }
}

@media (max-width: 550px) {

    div.table_search {
    }
}

@media (max-width: 320px) {
    div.table_search {
    }
}

body,html{
    height: 100%;
}

!* remove outer padding *!
.main .row{
    padding: 0px;
    margin: 0px;
}*/

div.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: white;
}

div.table_search {
  float: left;
  width: 69%;
  margin-right: 1%;
  padding: 5px;
}

div.table_buttons {
  float: left;
  width: 29%;
  margin-left: 1%;
  padding: 5px;
}

div.table_products {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

div.showcase-part {
  width: auto;
  float: left;
  padding: 20px;
  margin: 10px;
}

.content-part-7 {
  float: left;
  margin: 20px 1%;
  padding: 10px;
  width: 68%;
  overflow: hidden;
}

.t-head th {
  margin: 2px;
}

.serious-input {
  margin: 5px;
  border-radius: 0;
  background: #f6f6f6;
  border: none;
  line-height: 45px;
  height: 45px;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.btn-sp {
  border-radius: 0;
  background: #b692a2;
  color: white;
  font-weight: 600;
}

.content-part-3 {
  float: left;
  overflow: hidden;
  margin: 20px 1%;
  padding: 10px;
  width: 28%;
}

div.showcase-full {
  float: left;
  margin: 20px 1%;
  width: 98%;
  padding: 10px;
}

img.image_showcase_ad {
  width: 26%;
  float: left;
  margin: 2%;
}

div.showcase-container {
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #dedede;
  overflow: hidden;
}

div.multi {
  max-width: 50%;
  float: left;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.showcase {
  float: right;
  bottom: 0;
  right: 0;
}

div.table_buttons button {
  width: 100%;
  margin: 2px 0 2px 0;
}

div.head-bread-crumbs {
  padding: 10px;
  margin-bottom: 16px;
  text-align: left;
}

div.head-bread-crumbs a.breadcrumb {
  text-decoration: none;
  background: none;
  margin: 0;
  padding: 0;
  color: #269abc;
}

div.modal-g {
  text-align: inherit;
  padding: 16px;
  margin: 16px 0 16px 5%;
  width: 60%;

  float: left;
}

#loading {
  position: absolute;
  background: rgba(255, 255, 255, 0.31);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.loader {
  align-self: center;
  border: 16px solid rgba(86, 85, 93, 0.39); /* Light grey */
  border-top: 16px solid #458aef; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body.modal-open {
  overflow: hidden;
}

div.modal-c {
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 80%;
  text-align: inherit;
  padding: 16px;
}

.dim_back {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.content_pop {
  border-radius: 10px;
  display: none;
  background-color: #fefefe;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
}

.heading_table th {
  padding: 10px;
}

div.items-logo-container {
  padding: 5px;
  margin: 2px;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 5px;
  float: left;
}

div.modal-h {

  float: right;

  text-align: inherit;
  padding: 16px;
  margin: 16px 5% 16px 0;
  width: 25%;
  min-height: 500px;
}

div.modal-g div.form-group {
  padding: 10px;
  margin-bottom: 0;
  overflow: hidden;
}

#img-thumb {
  margin: 0;
}

#product-row {
  cursor: pointer;
}

#product-row:hover {
  background: #ffe4ef;
}

.header-ele {
  cursor: pointer;
}

.header-ele:hover {
  background: #c0ffc6;
}

img.image-blur-ef:hover {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

td {
  text-align: left;
}

button.menu-buttons {
  width: 100%;
  margin-top: 16px;
}

div.container-menu {
  padding: 5px;
  width: 100%;
  min-height: 150px;
  border: solid thin lightgray;
  border-radius: 10px;
  overflow: hidden;
}

div.container-menu-emblem {
  padding: 5px;
  min-height: 150px;
  border: solid thin lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.center-div {
  position: absolute;
  overflow: auto;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 500px;
  max-height: 100%;
  background-color: transparent;
  border-radius: 3px;
  padding: 15px;
}

div.notification-ask {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

button.types-button {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0;
}

nav.sidebar, .main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main {
  padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

  img.showcase {
    width: 40%;
  }

  /*Allow main to be next to Nav*/
  .main {
    position: absolute;
    width: calc(100% - 200px); /*keeps 100% minus nav size*/
    margin-left: 200px;
    float: right;
  }

  /*Center Brand*/
  nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  /*Center Brand*/
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  /*Center Icons*/
  nav.sidebar a {
    padding-right: 13px;
  }

  /*adds border top to first nav box */
  nav.sidebar .navbar-nav > li:first-child {
    border-top: 1px #e5e5e5 solid;
  }

  /*adds border to bottom nav boxes*/
  nav.sidebar .navbar-nav > li {
    border-bottom: 1px #e5e5e5 solid;
  }

  /* Colors/style dropdown box*/
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
    padding: 0 0 0 0;
  }

  /*colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  /*gives sidebar width/height*/
  nav.sidebar {
    width: 200px;
    height: 100%;
    margin-left: 0;
    float: left;
    z-index: 8000;
    margin-bottom: 0;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /*for hiden things when navbar hidden*/
  .forAnimate {
    opacity: 0;
  }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

  /*Allow main to be next to Nav*/
  .main {
    width: calc(100% - 200px); /*keeps 100% minus nav size*/
    margin-left: 200px;
  }

  /*Show all nav*/
  nav.sidebar {
    margin-left: 0;
    float: left;
  }
  /*Show hidden items on nav*/
  nav.sidebar .forAnimate {
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate {
  opacity: 1;
}

section {
  padding-left: 15px;
}