// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: "Helvetica Neue", Helvetica, serif;
  font-size: 15px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}

.center-inner-divs div {
  margin: 0 auto;
}

.link-style {
  margin: 8px;
  height: 44px;
}

.link-style a {
  line-height: 44px;
  text-decoration: none;
  cursor: pointer;
  color: #b692a2;
  text-align: center;
}

.link-style a:hover {
  text-decoration: none;
  color: #b692a2;
}

.link-style a:focus {
  text-decoration: none;
  color: #b692a2;
}

.content-part {
  padding: 20px;
}

.content-part-3 {
  width: 33%;
}

.content-part-7 {
  width: 66%;
}

.content-part-5 {
  width: 49.5%;
}

.field-data{
  padding: 10px;
}

.preview-cart {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 45%;
  float: right;
  padding: 0;
  text-align: center;
}

.content-part-10 {
  width: 100%;
}

#loading {
  position: absolute;
  background: rgba(255, 255, 255, 0.31);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.loader {
  align-self: center;
  border: 16px solid #fff4eb; /* Light grey */
  border-top: 16px solid #c098ac; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item-checkout {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.t-right {
  float: left;
  font-weight: 400;
}

.s-left {
  float: right;
  font-weight: 400;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
  0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

label {
  color: #8898AA;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  width: 100%;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label > span {
  width: 20%;
  text-align: right;
}

.field {
  background: #eff4e5;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 100%;
  height: 50px;
}


.log_in{
  background: transparent;
}

.field::-webkit-input-placeholder {
  color: #70726C;
}

.field::-moz-placeholder {
  color: #70726C;
}

.field:-ms-input-placeholder {
  color: #70726C;
}

form button {
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
  0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

button:focus {
  background: #555ABF;
}

button:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

@media screen and (min-width: 768px) {

  .content-part-10 {
    width: 100%;
  }

  .content-part-5 {
    width: 49.5%;
  }

  .content-part-3 {
    width: 33%;
  }

  .preview-cart {
    border: 2px solid black;
    width: 47%;
  }

}