
/*
 *= require font-awesome
 *require_tree .
 *require_self
*/

@font-face {
  font-family: CaviarDream;
  font-display: swap;
  src: url("/fonts/CaviarDreams.ttf");
}

.body{
  margin: 7%;
}

@media (max-width: 600px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 765px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media screen and (min-width: 765px) {
  .desktopnot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .mobilenot {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}


#ul_top_hypers li {
  display: inline;
}

.menu-center {
  width: 70%;
  margin: 20 auto;
  padding-bottom: 10;
  text-align: center;
}

.link-to-btn {
  text-decoration: none;
  color: #000;
}

.link-to-btn:hover {
  text-decoration: none;
  color: #c098ac;
}

.link-to-btn:focus {
  text-decoration: none;
  color: #c098ac;
}

.menu-button {
  float: left;
  width: 20%;
  text-decoration: none;
  color: black;
  text-align: center;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -48px !important; /* 50% of your logo width */
  display: block;
}

.thumb {
  height: 200px;
  width: 150px;
}

input[type=text].foot-form {
  width: 60%;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  font-size: 16px;
  background: #787878;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text].foot-form:focus {
  width: 80%;
  background: white;
}

.foot-form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.foot-form::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

.foot-form:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

.foot-form:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.navbar-header input[type=text] {
  background: white;
  width: 40%;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.navbar-header input[type=text]:focus {
  width: 60%;
}

.iconx {
  float: left;
  font-size: 23px;
  margin-top: 13px;
  margin-right: 15px;
  color: gray;
}

.lf {
  font-size: 9px;
}

.blc {
  background-color: #161616;
  padding: 20px 15px 15px;
}

.borders {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: -1px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.row.vertical-divider {
  overflow: hidden;
}

.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
  border-right: 3px solid #F2F7F9;
}

.selectable {
  cursor: pointer;
}

.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}

.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

#selection-btn-s {
  margin-top: 45px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

#selection-btn-s button {
  width: 60%;
  margin-bottom: 6px;
}

.image-container-quick {
  width: 100%;
  text-align: center;
  margin: 0 auto auto auto;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

.image-container-quick .konvajs-content {
  position: relative;
  margin: auto;
}

.images-container-quick {
  width: 95%;
  position: relative;
  margin: 0 auto;

}

.selected_emblem {
  border: #ba97a6 2px solid;
}

#image-container img, div canvas, canvas, div {
  margin: auto;
}

.complete {
  display: none;
}

#more-toggle {
  color: #c2a5b2;
  cursor: pointer;
}

div.wrap h5, h6, h1, h2, h3, h4, p, span {
  margin: 5px 0;
}

div.wrap {
  margin: 8px 0;
}

.text_light_pink {
  font-family: CaviarDream, Helvetica, sans-serif;
  font-weight: 300;
  color: #c2a5b2;
}

.text_light {
  font-family: CaviarDream, Helvetica, sans-serif;
  font-weight: 300;
}

.message_wrapper {
  min-height: 50vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.message_container {
  height: 30vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.light-paragraph {
  color: #7e7e7e;
  font-family: CaviarDream, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
}

#overall-container {
  top: 70px;
  left: 0;
  right: 0;
  bottom: 90px;
  overflow: auto;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
}

.badge-size {
  margin: 2px;
  cursor: pointer;
  background: #e4e4e4;
  font-weight: lighter;
  color: #2E2F30;
}

.badge_selected {
  background: slategray;
  color: white;
}

.selectable {
  cursor: pointer;
}

.selected0f {
  background: #efefef;
}

/* The Modal (background) */
.modal_base {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content_base {
  background-color: #fefefe;
  padding: 10px;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal_quick {
  z-index: 10; /* Sit on top */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  min-width: 290px;
  background-color: #fefefe;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #FFFFFF;
  z-index: 4;
}

.modal-content_quick {
  position: absolute;
  border: thin white solid;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal-content-quick-m {
  position: absolute;
  background-color: #fefefe;
  padding: 10px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 45%;
  text-align: center;
  border: solid black thin;
}

.content-part-3 {
  padding: 10px;
  width: 30%;
}

.content-part-7 {
  padding: 10px;
  width: 70%;
}

.triangle {
  margin-left: 80%;
  z-index: 20;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent white transparent;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.selected {
  font-weight: bold;
}

a.selected-esp {
  border-bottom: 2px solid #89c13e;
}

a.head-menu {
  padding-top: 5px;
  padding-bottom: 5px;
}

.center-div {
  position: absolute;
  overflow: auto;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 500px;
  max-height: 100%;
  background-color: transparent;
  border-radius: 3px;
  padding: 15px;
}

div.notification-ask {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

div.login-form {
  margin: 200px auto;
  background: white;
  width: 500px;
  padding: 20px;
}

.error_message {
  width: 70%;
  background: #fdf4f4;
  border: 1px solid #fd554b;
  padding: 5px;
  text-align: justify;
  margin: 5px auto;
}

.serious-input {
  margin: 5px;
  border-radius: 0;
  background: #f6f6f6;
  border: none;
  line-height: 45px;
  height: 45px;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: CaviarDream, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}

div.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}

.content-part-3 {
  padding: 10px;
  width: 33%;
}

.content-part-7 {
  padding: 10px;
  width: 66%;
}

.content-part-5 {
  padding: 10px;
  width: 49.5%;
}

.content-part-10 {
  padding: 10px;
  width: 99%;
}

.catalog-item {
  border-bottom: 2px lightgray solid;
  background: white;
  position: relative;
  float: left;
  width: 96%;
  text-align: center;
  padding: 25px 0 0;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
}

.showcase-add {
  float: left;
  width: 47%;
  padding: 10px;
}

.img-con-item {
  width: auto;
  height: 60vw;
}

.btn-sp {
  border-radius: 0;
  background: #b692a2;
  color: white;
  font-weight: 600;
}

.submit-btn-form {
  width: 70%;
  margin: 5px;
  font-family: CaviarDream, Helvetica, sans-serif;
  font-weight: 100;
  height: 45px;
  line-height: 45px;
  font-size: 17px;
  vertical-align: middle;
  padding: 0;
}

.link-wrap a {
  text-decoration: none;
  cursor: pointer;
  color: #b692a2;
  margin: 30px;
}

.link-style {
  float: right;
  margin: 8px;
  height: 44px;
}

.link-style a {
  line-height: 44px;
  text-decoration: none;
  cursor: pointer;
  color: #b692a2;
  text-align: center;
}

.link-style a:hover {
  text-decoration: none;
  color: #b692a2;
}

.link-style a:focus {
  text-decoration: none;
  color: #b692a2;
}

.cart_ic {
  margin-top: 8px;
  height: 36px;
}

.btn-sp:hover, .btn-sp:focus {
  color: white;
  background: #c098ac;
}

.text_light_20 {
  font-size: 20px;
  font-family: CaviarDream, Helvetica, sans-serif;
  font-weight: 300;
  color: #0b0b0b;
}

.btn-bottom_fixed {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

#filters {
  text-align: center;
  overflow: visible;
  height: 50px;
}

.btn-enlarge {
  width: 100%;
  border: none;
}

.drop-enlarge {
  width: 100%;
}

.filter-element {
  float: left;
  width: 96%;
  margin: 10px 2%;
}

#items-container {
  margin-top: 0;
}

div.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  background-color: #ffffff;

}

.filter-element h5 {

  padding: 0;
  margin: 0;
  text-align: center;
}

.field-data{
  padding: 10px;
}

.modal_c_part {
  padding: 10px 20px;
}

.no-spacing-bar {
  margin: 0;
}

.single-element-center {
  margin: 10px auto;
  min-width: 90%;
}

#loading {
  position: absolute;
  background: rgba(255, 255, 255, 0.31);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.loader {
  align-self: center;
  border: 16px solid #fff4eb; /* Light grey */
  border-top: 16px solid #c098ac; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper-side {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 500px;
  float: none;
  position: relative;
  overflow: hidden;
}

.g-wrapper {
  overflow-y: auto;
  padding: 10px;
  height: 100%;
  width: 100%;
}

button.btn-cust {
  border: none;
  background: #e8e8e8;
  border-radius: 0;
}

button.btn-cust:hover {
  background: #efefef;
}

.content-part {
  float: left;
  width: 100%;
  overflow: hidden;
}

.carousel-indicators .active {
  background-color: #b592a2;
}

button:focus {
  background: #c2a5b2;
}

button:active {
  background: #ba97a6;
}

@media screen and (min-width: 480px) {

  .modal-content-cart {
    width: 100%;
  }

  .btn-bottom_fixed {
    display: block;
  }

  .img-con-item {
    width: auto;
    height: 25vw;
  }

  .catalog-item {
    border: none;
    width: 48%;
    height: 50vw;
    margin: 25px 1% 0;
    min-height: 254px;
    background: #f6f8f1;
  }

}

@media screen and (min-width: 768px) {

  .single-element-center {
    margin: 200px auto;
    min-width: 50%;
  }

  .image-container-quick {
    position: absolute;
    height: 100%;
  }

  .image-container-quick div.konvajs-content {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .images-container-quick {
    position: absolute;
    height: 15%;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .modal-content-quick-m {
    width: 17%;
    min-height: 185px;
    height: 30%;
  }

  .content-part {
    width: 50%;
  }

  .modal-content-cart {
    width: 335px;
  }

  #items-container {
    margin-top: 45px;
  }

  .filter-element {
    float: left;
    width: 21%;
    margin-right: 2%;
    margin-left: 2%;
    border: none
  }

  .wrapper-side {
    height: 450px;
    width: 50%;
    max-height: 450px;
    float: left;
    overflow-y: auto;
  }

  .img-con-item {
    width: auto;
    height: 14vw;
  }

  .catalog-item {
    width: 23%;
    height: 30vw;
    max-height: 400px;
    margin: 25px 1% 0;
  }

  .g-wrapper {
    min-height: 400px;
    height: 470px;
    max-height: 470px;
  }

  .modal-content_quick {
    background-color: #fefefe;
    border: thin black solid;
    width: 75%; /* Could be more or less, depending on screen size */
    min-height: 400px;
    height: 470px;
    max-height: 470px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 1330px) {

  .img-con-item {
    width: auto;
    height: 14vw;
    max-height: 217px;
  }

  .catalog-item {
    width: 14.66667%;
    height: 30vw;
    max-height: 400px;
    max-width: 217px;
    margin: 25px 1% 0;
  }

}

// TEST

@charset "utf-8";

h5 {
  font-weight: 100;
}

div button {
  margin: 0 auto;
}

.jcarousel-wrapper {
  margin: 0 auto;
  position: relative;
  width: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;;
}

.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
  color: #fff;
}

/** Carousel **/

.jcarousel {
  overflow: hidden;
  position: relative;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  top: 13px;
  position: absolute;
  background: transparent;
  height: 30px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  color: white;
  border: none;
  outline: 0;
}

.jcarousel-control-prev:active, .jcarousel-control-next:active {
  color: #c2a5b2;
  border: none;
  background-color: transparent;
  outline: 0;
}

.jcarousel-control-prev:focus, .jcarousel-control-next:focus {
  background-color: transparent;
  border: none;
  outline: 0;
}

.jcarousel-control-next:disabled, .jcarousel-control-prev:disabled {
  color: lightgray;
}

.jcarousel-control-prev {
  left: -30px;
}

.jcarousel-control-next {
  right: -30px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;

  font-size: 11px;
  line-height: 14px;
  min-width: 14px;

  background: #fff;
  color: #4E443C;
  border-radius: 14px;
  padding: 3px;
  text-align: center;

  margin-right: 2px;

  opacity: .75;
}

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.co-sty {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.cell-btn {
  width: 100%;
  margin: 10px auto;
  text-align: center
}

.items-scroll-container {
  background: #f2f2f2;
  padding: 10px;
  margin-right: 8px;
}

.direction {
  border-radius: 0;
  border: 1px solid #afafaf;
  transition: all .35s
}

.resizable {
  width: 13%;
  max-width: 40px;
  height: 30px;
  margin: 1%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

button.border-bg-sty {
  background: white;
  border: solid thin #b692a2;
}

.direction.active, .direction:hover {
  background-color: #f2f2f2;
}

#color-picker input[type="checkbox"] {
  display: none;
}

#color-picker input[type="checkbox"] + label:before {
  border: none;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em FontAwesome;
  height: 17px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 17px;
  background: transparent;
}

#color-picker input[type="checkbox"]:checked + label:before {
  color: #FFFFFF;
  content: "\f058";
  text-align: center;
  font-family: FontAwesome, serif;
}

#color-picker input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 450px) {


  .co-sty {
    width: 75%;
  }

  h5 {
    font-size: medium;
  }

  #done-btn {
    width: 100%;
    background: #ae8e94;
    display: table;
    margin: 10px auto 5px auto;
    padding: 5px auto;
    border-radius: 0;
  }

  #restart-btn {
    background: #eaeaea;
    width: 100%;
    display: table;
    margin: 10px auto 5px auto;
    padding: 5px auto;
    border-radius: 0;
  }

  #share span {
    font-weight: lighter;
    margin: 0 15px;
    color: #0b0b0b;
  }

  #share {
    margin: 8px auto 8px auto;
    border-radius: 0;
    display: inline-block;
    float: none;
    border: #afafaf solid;
    border-width: 1px;
  }

  hr.pro {
    max-width: 100%;
    border-width: 1px;
    border-color: #dedede;
    margin: 0 auto;
  }
}

//CART

* {
  font-family: CaviarDream, Helvetica, sans-serif;
  font-size: 15px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}

.center-inner-divs div {
  margin: 0 auto;
}

.link-style {
  margin: 8px;
  height: 44px;
}

.link-style a {
  line-height: 44px;
  text-decoration: none;
  cursor: pointer;
  color: #b692a2;
  text-align: center;
}

.link-style a:hover {
  text-decoration: none;
  color: #b692a2;
}

.link-style a:focus {
  text-decoration: none;
  color: #b692a2;
}

.content-part {
  padding: 20px;
}

.content-part-3 {
  width: 33%;
}

.content-part-7 {
  width: 66%;
}

.content-part-5 {
  width: 49.5%;
}

.field-data{
  padding: 10px;
}

.preview-cart {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 45%;
  float: right;
  padding: 0;
  text-align: center;
}

.content-part-10 {
  width: 100%;
}

#loading {
  position: absolute;
  background: rgba(255, 255, 255, 0.31);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.loader {
  align-self: center;
  border: 16px solid #fff4eb; /* Light grey */
  border-top: 16px solid #c098ac; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item-checkout {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.item-checkout-admin {
  float: left;
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background: #fcd7e8;
  border-radius: 10px;
}

.t-right {
  float: left;
  font-weight: 400;
}

.s-left {
  float: right;
  font-weight: 400;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
  0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

label {
  color: #8898AA;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  width: 100%;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label > span {
  width: 20%;
  text-align: right;
}

.field {
  background: #eff4e5;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 100%;
  height: 50px;
}


.log_in{
  background: transparent;
}

.field::-webkit-input-placeholder {
  color: #70726C;
}

.field::-moz-placeholder {
  color: #70726C;
}

.field:-ms-input-placeholder {
  color: #70726C;
}

form button {
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
  0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

button:focus {
  background: #555ABF;
}

button:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

@media screen and (min-width: 420px) {
  .item-checkout-admin {
    float: left;
    text-align: left;
    overflow: hidden;
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {

  .item-checkout-admin {
    float: left;
    text-align: left;
    overflow: hidden;
    width: 20%;
    margin: 2.5%;
    height: 370px;
  }

  .content-part-10 {
    width: 100%;
  }

  .content-part-5 {
    width: 49.5%;
  }

  .content-part-3 {
    width: 33%;
  }

  .preview-cart {
    border: 2px solid black;
    width: 47%;
  }

}