// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto');

#selection-btn-s {
  margin-top: 45px;
  width: 100%;
  height: 90px;
  text-align: center;
  overflow: hidden;
}

#selection-btn-s button {
  width: 60%;
  margin-bottom: 6px;
}

#image-container {
  width: 60%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

#image-container_quick {
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

#image-container img, div canvas, canvas {
  width: 100%;
}

.complete {
  display: none;
}

#more-toggle {
  color: #dedede;
  cursor: pointer;
}

div.wrap h5, h6, h1, h2, h3, h4, p, span {
  margin: 2px 0;
}

div.wrap {
  margin: 8px 0;
}

#overall-container {
  top: 70px;
  left: 0;
  right: 0;
  bottom: 90px;
  overflow: auto;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
}

.badge-size {
  margin: 2px;
  cursor: pointer;
  background: #dedede;
  font-weight: lighter;
  color: #2E2F30;
}

.badge_selected {
  background: slategray;
  color: white;
}

/* The Modal (background) */
.modal_base {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content_base {
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  margin: 5% auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal_quick {
  z-index: 1; /* Sit on top */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: fixed;
  background-color: #fefefe;
  top: 80px;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #FFFFFF;
  z-index: 4;
  width: 85%; /* Could be more or less, depending on screen size */
}

/* Modal Content/Box */
.modal-content_quick {
  background-color: #fefefe;
  border: 1px solid #FFFFFF;
  width: 75%; /* Could be more or less, depending on screen size */
  min-height: 400px;
  height: 440px;
  margin-top: 120px;
  margin-bottom: 0;
}

.content-part {
  float: left;
  width: 50%;
  overflow: hidden;
}

.content-part-3 {
  padding: 10px;
  width: 30%;
}

.content-part-7 {
  padding: 10px;
  width: 70%;
}

.triangle {
  z-index: 8;
  position: fixed;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent white transparent;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.selected {
  border-bottom: 2px solid #89c13e;
}

a.head-menu {
  padding-top: 5px;
  padding-bottom: 5px;
}

.center-div {
  position: absolute;
  overflow: auto;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 500px;
  max-height: 100%;
  background-color: transparent;
  border-radius: 3px;
  padding: 15px;
}

div.notification-ask {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

div.login-form {
  margin: 200px auto;
  background: white;
  width: 500px;
  padding: 20px;
}

.error_message {
  width: 70%;
  background: #fdf4f4;
  border: 1px solid #fd554b;
  padding: 5px;
  text-align: justify;
  margin: 5px auto;
}

.serious-input {
  margin: 5px;
  border-radius: 0;
  background: #f6f6f6;
  border: none;
  line-height: 45px;
  height: 45px;
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

div.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: white;
}

.content-part-3 {
  padding: 10px;
  width: 33%;
}

.content-part-7 {
  padding: 10px;
  width: 66%;
}

.content-part-5 {
  padding: 10px;
  width: 49.5%;
}

.content-part-10 {
  padding: 10px;
  width: 99%;
}

.catalog-item {
  border-bottom: 2px lightgray solid;
  background: white;
  position: relative;
  float: left;
  width: 96%;
  text-align: center;
  padding: 25px 0 0;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
}

.showcase-add {
  float: left;
  width: 47%;
  padding: 10px;
}

.img-con-item {
  width: auto;
  height: 60vw;
}

.btn-sp {
  border-radius: 0;
  background: #b692a2;
  color: white;
  font-weight: 600;
}

.submit-btn-form {
  width: 70%;
  margin: 5px;
  font-family: "Roboto", serif;
  font-weight: 100;
  height: 45px;
  line-height: 45px;
  font-size: 17px;
  vertical-align: middle;
  padding: 0;
}

.link-wrap a {
  text-decoration: none;
  cursor: pointer;
  color: #b692a2;
  margin: 30px;
}

.link-style {
  float: right;
  margin: 8px;
  height: 44px;
}

.link-style a {
  line-height: 44px;
  text-decoration: none;
  cursor: pointer;
  color: #b692a2;
  text-align: center;
}

.link-style a:hover {
  text-decoration: none;
  color: #b692a2;
}

.link-style a:focus {
  text-decoration: none;
  color: #b692a2;
}

#cart_ic {
  margin-top: 8px;
  height: 36px;
}

.btn-sp:hover, .btn-sp:focus {
  color: white;
  background: #c098ac;
}

.btn-bottom_fixed {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

#filters {
  text-align: center;
  overflow: visible;
  height: 30px;
}

.btn-enlarge {
  width: 100%;
  border: none;
}

.drop-enlarge {
  width: 100%;
}

.filter-element {
  float: left;
  width: 21%;
  margin-right: 2%;
  margin-left: 2%;
}

.filter-element h5 {

  padding: 0;
  margin: 0;
  text-align: center;
}

.modal_c_part {
  padding: 10px 20px;
}

.no-spacing-bar {
  margin: 0;
}

.single-element-center {
  margin: 10px auto;
  min-width: 90%;
}

#loading {
  position: absolute;
  background: rgba(255, 255, 255, 0.31);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.loader {
  align-self: center;
  border: 16px solid #fff4eb; /* Light grey */
  border-top: 16px solid #c098ac; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 480px) {

  .single-element-center {
    margin: 200px auto;
    min-width: 50%;
  }

  .btn-bottom_fixed {
    display: block;
  }

  .modal-content {
    width: 30%;
  }

  .img-con-item {
    width: auto;
    height: 25vw;
  }

  .catalog-item {
    border: none;
    width: 48%;
    height: 50vw;
    margin: 25px 1% 0;
    min-height: 254px;
    background: #f6f8f1;
  }
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 335px;
  }

  .img-con-item {
    width: auto;
    height: 14vw;
  }

  .catalog-item {
    width: 23%;
    height: 30vw;
    max-height: 340px;
    margin: 25px 1% 0;
  }
}

@media screen and (min-width: 1330px) {

  .img-con-item {
    width: auto;
    height: 14vw;
  }

  .catalog-item {
    width: 14.66667%;
    height: 30vw;
    max-height: 350px;
    margin: 25px 1% 0;
  }

}