// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#selection-btn-s {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  text-align: center;
  padding-top: 10px;
  overflow: hidden;
}

#selection-btn-s button {
  width: 60%;
  margin-bottom: 6px;
}

#image-container {
  width: 60%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

#image-container img, div canvas, canvas {
  width: 100%;
}

.complete {
  display: none;
}

#more-toggle {
  color: #dedede;
  cursor: pointer;
}

div.wrap h5, h6, h1, h2, h3, h4, p, span {
  margin: 2px 0;
}

div.wrap {
  margin: 8px 0;
}

#overall-container {
  top: 70px;
  left: 0;
  right: 0;
  bottom: 90px;
  overflow: auto;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
}

.badge-size {
  margin: 2px;
  cursor: pointer;
  background: #dedede;
  font-weight: lighter;
  color: #2E2F30;
}

.badge_selected {
  background: slategray;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: fixed;
  background-color: #fefefe;
  top: 80px;
  border-radius: 0px;
  padding: 20px;
  border: 1px solid #FFFFFF;
  z-index: 4;
  width: 20%; /* Could be more or less, depending on screen size */
}

.triangle {
  z-index: 8;
  position: fixed;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent white transparent;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
}

@media (min-width: 1330px) {
}