<body style="background-color: #dedede">

<div class="main">
  <div style="margin: 20px; padding: 20px; overflow: hidden" class="card content-part-10">

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Title</span>
      <input id="title" class="form-control" aria-describedby="basic-addon1">
    </div>

    <button onclick="create()" style="width: 100%" class="btn btn-success">ADD</button>

  </div>
</div>

<script>
    function create() {
        $.ajax({
            url: '/categories',
            type: 'post',
            dataType: 'json',
            data: {
                categories: {
                    title: document.getElementById('title').value
                }
            },
            success: function (data) {
                console.log(data);
                window.location.href = '/admin/categories';
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

</script>

</body>