<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <div style="width: 100%; height: 50px">
    <a href="https://organichustler.com"><img alt="Visit organic hustler" width="100" src="https://organichustler.com/images/logo"></a>
  <div style="width: 100%; border: solid 1px #b692a2; border-radius: 5px; background: #b592a2"></div>
  </div>

    <%= yield %>
  </body>

  <div style="width: 100%; border: solid 1px #dedede; border-radius: 10px; background: #dedede"></div>
<div id="notices" style="font-size: 11px; color: darkgray;">
  For more information about your order or support go to <a style="color: #b692a2" href="https://organichustler.com/contact_us?contact=true&view=contact">OrganicHustler support</a>.<br>
  If you choose to unsubscribe from our mailing list click on <a style="font-weight: bold; color: #b692a2" href="https://organichustler.com/unsubscribe?mail=<%= @email %>">UNSUBSCRIBE</a>
  This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
</div>

</html>
